﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/touting/pc/', filename='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/touting/pc/', filename='css/dialog.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/touting/pc/', filename='css/order.css') }}">
    <script src="{{ url_for('/assets/gateway/touting/pc/', filename='js/jquery.min.js') }}"></script>
    <title>迷上我</title>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5JLLRN" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5JLLRN');</script>
    <!-- End Google Tag Manager -->
</head>

<body class="order">
    <div class="page">
        <div class="m-header">
            <div class="m-header-inner u-container">
                <h1 class="logo"><a href=""><img src="{{ url_for('/assets/gateway/touting/pc/', filename='images/logo.png') }}" alt="迷上我" width="90" height="48"></a></h1><strong class="sub">安全订单系统</strong>
            </div>
        </div>
        <div class="u-container u-pt10">
            <div class="order-main">
                <form method='POST' action="/gateway/pay/pc/touting" id="J_order_form">
                    <div class="order-section u-panel">
                        <div class="order-section-hd">
                            <h3 class="order-section-title"><i class="icon-info icon"></i>您的课程：</h3>
                        </div>
                        <div class="order-section-bd">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="40%">课程名称</th>
                                        <th width="20%" class="pale">数量</th>
                                        <th width="20%">原价</th>
                                        <th width="20%" class="pale">您的价格</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="u-tal">《偷听女人心》多媒体实践型课程</td>
                                        <td>30期</td>
                                        <td>¥399</td>
                                        <td><strong style="color: #000">¥299</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="discount">
                                <p class="c-dark strong"><i class="icon"></i>现在订购30期课程，可参加以下活动</p>
                                <p class="zindex c-highlight">
                                    <input type="checkbox" name="extra_product" value="1" class="checkbox" id="discount" checked="checked">
                                    <label for="discount">+99元多得到15期课程（节省50.5元）</label>
                                </p>
                            </div>
                            <table class="table" id="J_discount_table">
                                <!--
                                <thead>
                                    <tr>
                                        <th width="40%">课程名称</th>
                                        <th width="20%" class="pale">数量</th>
                                        <th width="20%">原价</th>
                                        <th width="20%" class="pale">您的价格</th>
                                    </tr>
                                </thead>
                                -->
                                <tbody>
                                    <tr>
                                        <td width="40%" class="u-tal">《偷听女人心》多媒体实践型课程</td>
                                        <td width="20%">15期</td>
                                        <td width="20%">¥149.5</td>
                                        <td><strong style="color: #000">¥99</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="order-section u-panel">
                        <div class="order-section-hd">
                            <h3 class="order-section-title"><i class="icon-email icon"></i>输入您的电子邮件：</h3>
                        </div>
                        <div class="order-section-bd u-cf">
                            <div class="order-form u-fl">
                                <p class="item">
                                    <input type="text" class="input" id="J_email" name='user_email' placeholder="请输入邮箱地址"><span class="required">*必填</span>
                                </p>
                                <p class="item">
                                    <input type="text" class="input" id="J_email_confrim" placeholder="再次确认邮箱"><span class="required">*必填</span>
                                </p>
                                <p class="text">重要！请确保邮件地址正确，课程App下载链接将被发送到该邮件。</p>
                            </div>
                            <div class="order-form-button u-fl">
                                <button class="u-button-lred u-button" id="J_submitbtn">下一步</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="m-footer">
            <div class="m-footer-inner u-container">
                <p>Copyright (C) 2009-2016 成真 Mishangwo All rights reserved. 迷上我版权所有 沪ICP备09049233号</p>
                <p class="m-footer-nav">
                    <a href="http://www.mishangwo.com/help/contact.asp" target="_blank">联系迷上我</a>|
                    <a href="http://www.mishangwo.com/help/privacypolicy.asp" target="_blank">隐私政策</a>|
                    <a href="http://www.mishangwo.com/help/faq.shtml" target="_blank">使用条款</a>|
                    <a href="http://www.mishangwo.com/help/aboutmishangwo.asp" target="_blank">关于成真</a>
                </p>
            </div>
        </div>
    </div>
    <script src="{{ url_for('/assets/gateway/touting/pc/', filename='js/jquery.mailAutoComplete.js') }}"></script>
    <script src="{{ url_for('/assets/gateway/touting/pc/', filename='js/jquery.dialog.js') }}"></script>
    <script src="{{ url_for('/assets/gateway/touting/pc/', filename='js/order.js') }}"></script>
</body>
</html>
