﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dialog.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/order.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <title>迷上我</title>
</head>

<body>
    <div class="page">
        <div class="m-header">
            <div class="m-header-inner u-container">
              <h1 class="logo"><a href=""><img src="{{ url_for('static', filename='images/logo.png') }}" alt="迷上我" width="90" height="48"></a></h1><strong class="sub">安全订单系统</strong>
            </div>
        </div>
        <div class="u-container u-pt10">
            <div class="order-main">
                <form action="" id="J_order_form">
                    <div class="order-section u-panel">
                        <div class="order-section-hd">
                            <h3 class="order-section-title" align="center">“祝贺你订购成为迷上我学员！”</h3>
                        </div>
                        <div class="order-section-bd">
                            <div>
                                <hr style="height:1px;border:none;border-top:1px solid #DEDEDE;" />
                                <ul style="padding:30px 20px 10px 20px;list-style:disc">
                                    <li style="padding-bottom:20px;">购买成功后，根据网页上的提示等待跳转的，不要直接关闭浏览器。 浏览器会自动跳转到你私人的收货信息页面，上面也会生成你的用户名和你的密码。也会有下载迷上我教程客户端的地址。 这个页面如果你没有看到的话，也没关系，因为相同的信息也会通过电子邮件发到你填写的那个邮箱地址。 邮件可能会有5分钟的延时。
                                    </li>
                                    <li style="padding-bottom:20px;">特别注意查看你的垃圾邮箱，因为这份邮件有可能会被误判为垃圾邮件。 <strong>如果在垃圾邮箱里</strong>，记得把这份邮件点击为不是垃圾邮件，并加&nbsp;<a href="http://mishangwo.net/" target="_blank"><font color="#D22425">mishangwo.net</font></a>&nbsp;和&nbsp;<a href="http://mishangwo.com/" target="_blank"><font color="#D22425">mishangwo.com</font></a>&nbsp;以及&nbsp;<a href="http://mishangwo.cn/" target="_blank"><font color="#D22425">mishangwo.cn</font></a>&nbsp;到你的白名单。 加白名单的方法具体可以看 &nbsp;<a href="http://www.mishangwo.com/whitelist" target="_blank"><font color="#D22425">http://www.mishangwo.com/whitelist</font></a>&nbsp;&nbsp;
                                    </li>
                                    <li style="padding-bottom:20px;">如果你是QQ邮箱，你还可以鼠标右击左边的 <strong>“收件箱”</strong> ，然后点击<strong>"收信查询"</strong>，看看是否有拦截记录。
                                    </li>
                                    <li style="padding-bottom:20px;"><strong>如果不但你当时没有跳转，而且还没收到邮件，并且在垃圾箱里也没有，并且你已经查过你的网银记录，已经付款成功的话，</strong> 请你立刻写邮件到 dingdan在mishangwo.com （把“在”换成 @) ，同时告诉我你当时在订购页面填写2遍的邮件地址和订购日期和大致时间。 这是大问题。我们会尽快处理。 
                                    </li>
                                    <li style="padding-bottom:20px;">
                                        如果没有跳转，也没有收到任何邮件，也可能有掉单的情况，支付失败的情况，你可以登录到你的银行的网站，查看你网上银行的交易记录，看一下是否支付成功了。 
                                    </li>
                                </ul>
                                <hr style="height:1px;border:none;border-top:1px solid #DEDEDE;" />
                            </div>
                            <div align="center"><a href="javascript:window.close();">[ 关闭 ]</a></div>
                            <br>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="m-footer">
            <div class="m-footer-inner u-container">
                <p class="m-footer-nav">
                    <a href="http://www.mishangwo.com/help/contact.asp" target="_blank">联系迷上我</a>|
                    <a href="http://www.mishangwo.com/help/privacypolicy.asp" target="_blank">隐私政策</a>|
                    <a href="http://www.mishangwo.com/help/faq.shtml" target="_blank">使用条款</a>|
                    <a href="http://www.mishangwo.com/help/aboutmishangwo.asp" target="_blank">关于成真</a>
                </p>
                <p>我非常注重你的隐私，我不会把你在“迷上我”网站上任何信息，流传给和“迷上我”网站不相干的企业或者个人。我期望你也能保护我的隐私。</p>
                <p>“迷上我”，“成真”以及“MiShangWo”为成真和迷上我网站的注册商标。</p>
                <p>如果你有问题，可以发邮件联系我，邮件地址是 jason在mishangwo点com (把“在”换成@，然后“点”就是".")</p>
                <p>Copyright (C) 2009-2016 成真 Mishangwo All rights reserved. 迷上我版权所有 沪ICP备09049233号</p>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.mailAutoComplete.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dialog.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>
