﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dialog.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/order.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <title>迷上我</title>
</head>

<body>
    <div class="page">
        <div class="m-header">
            <div class="m-header-inner u-container">
              <h1 class="logo"><a href=""><img src="{{ url_for('static', filename='images/logo.png') }}" alt="迷上我" width="90" height="48"></a></h1><strong class="sub">安全订单系统</strong>
            </div>
        </div>
        <div class="u-container u-pt10">
            <div class="order-main">
                <form action="" id="J_order_form">
                    <div class="order-section u-panel">
                        <div class="order-section-hd">
                            <h3 class="order-section-title" align="center">您没有支付成功，是否因为以下常见原因</h3>
                        </div>
                        <div class="order-section-bd">

                            <div>
                                <hr style="height:1px;border:none;border-top:1px solid #DEDEDE;" />
                                <ul style="padding:30px 20px 10px 20px;list-style:disc">
                                    <li style="padding-bottom:20px;">浏览器不支持 <br>
                                        大部分银行网银可能只支持微软的Internet Explorer 6及以上版本的浏览器
                                    </li>
                                    <li style="padding-bottom:20px;">支付网页不能打开<br>
                                        建议使用Microsoft IE浏览器，并将安全级别设置为默认。在IE菜单选择“工具”，进入“Internet选项”，在“安全选项卡”中将各项设置恢复到默认。
                                    </li>
                                    <li style="padding-bottom:20px;">如果使用网银支付碰到错误提示<br>  一般情况下，复制支付页面URL链接，关闭浏览器，清理一下缓存，然后重新提交订单就会好。如果错误依然存在，请把看到的错误提示发到 zhifu在mishangwo.com （“在”替换成@)
                                    </li>
                                    <li style="padding-bottom:20px;">支付网页功能不正常<br>
                                        请安装相应的安全控件，或联系银行的客服帮助解决。查看<a href="http://www.yeepay.com/article?aid=1215">各银行网银的详细说明</a>。
                                    </li>
                                    <li style="padding-bottom:20px;">
                                        网银额度不足<br>
                                        请确认网上银行的帐户余额及额度是否足够。登录网银后查看帐户余额情况，再进入“网上支付”，打开“额度设置”，并根据实际情况进行调整。
                                    </li>
                                    <li style="padding-bottom:20px;">
                                        还是不行？<br>
                                        以上方法如不能帮助您完成支付，请发邮件联系 zhifu在mishangwo.com （“在”替换成@) 请您留下遇到的支付问题，便于我们优化产品，为您提供更好的服务
                                    </li>
                                </ul>

                                <hr style="height:1px;border:none;border-top:1px solid #DEDEDE;" />
                            </div>
                            <div align="center"><a href="javascript:window.close();">[ 关闭 ]</a></div>
                            <br>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="m-footer">
            <div class="m-footer-inner u-container">
                <p class="m-footer-nav">
                    <a href="http://www.mishangwo.com/help/contact.asp" target="_blank">联系迷上我</a>|
                    <a href="http://www.mishangwo.com/help/privacypolicy.asp" target="_blank">隐私政策</a>|
                    <a href="http://www.mishangwo.com/help/faq.shtml" target="_blank">使用条款</a>|
                    <a href="http://www.mishangwo.com/help/aboutmishangwo.asp" target="_blank">关于成真</a>
                </p>
                <p>我非常注重你的隐私，我不会把你在“迷上我”网站上任何信息，流传给和“迷上我”网站不相干的企业或者个人。我期望你也能保护我的隐私。</p>
                <p>“迷上我”，“成真”以及“MiShangWo”为成真和迷上我网站的注册商标。</p>
                <p>如果你有问题，可以发邮件联系我，邮件地址是 jason在mishangwo点com (把“在”换成@，然后“点”就是".")</p>
                <p>Copyright (C) 2009-2016 成真 Mishangwo All rights reserved. 迷上我版权所有 沪ICP备09049233号</p>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.mailAutoComplete.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dialog.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>
