<html>
    <head>
        <meta charset="utf-8">
        <title>购买成功</title>
        <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no,address=no,email=no" />
        <meta name="mobileOptimized" content="width" />
        <meta name="handheldFriendly" content="true" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="description" content="时刻偷听女人心，吸引任何女生的核心方法，多媒体实践型课程" />
        <meta name="keywords" content="时刻偷听女人心，吸引任何女生的核心方法，多媒体实践型课程" />
        <link rel="stylesheet" href="/assets/css/touting/success.css"></link>
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5JLLRN" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5JLLRN');</script>
        <!-- End Google Tag Manager -->
    </head>
    <body><!--用于 mobile购买成功页面-->
    <article class="main">
        <div class="p-title">订单收据</div>
        <div class="p-sub-title first">恭喜您成为《{{ product_name }}》</div>
        <div class="p-sub-title two">（手机版）课程的学员！</div>
        <div class="students-info">
          <div>学员号：{{ order_key }}</div>
          <div>订单日期：{{ order_date }}</div>
        </div>
        <div class="login-area">
            <div class="get-course-title">登录课程流程</div>
            <div class="step-title two">1.请务必记录你的密码和用户名：</div>
            <div class="login-info one"><span>你的用户名：</span><em>{{ email }}</em><span class="clear"></span></div>
            <div class="login-info two"><span>你的密码：</span><em>{{ password }}</em><span class="clear"></span></div>
            <div class="login-alert">(用户名和密码已发送到你的邮箱，请妥善保管，你需要这个密码进入到你的课程。)</div>
        </div>
        <div class="get-course">
            <div class="step-title one">2.获得教程软件：</div>
            <a class="login-info " href="https://m.mishangwo.com/course/payment/status?result=success" target="_blank">https://m.mishangwo.com/course/payment/status?result=success</a>
        </div>
        <div class="login-area">
            <div class="step-title two">3.登录教程：</div>
            <div class="text-section one">在你的手机上打开“迷上我”，点击[邮箱登录]，输入上面获得的用户名和密码。</div>
            <div class="text-section two">祝贺你获得绝大部分男人都不知道的吸引女生的密码。你同时也会在你刚才输入的电子邮箱里收到一封含有本页所有内容的重要邮件。请注意查收你刚才输入的电邮信箱。获取迷上我app的下载链接和用户名密码也会发到这个邮箱。并且注意查收你的垃圾箱。</div>
        </div>

        <div class="get-course-title">没收到邮件？看过垃圾箱吗？</div>
        <div class="text-section three">QQ邮箱，你可以鼠标点击左边【收件箱】，鼠标右击，出来的菜单里，最下面有一个【收信查询】，点击收信查询，看看你的收信记录里有没有拦截或者进垃圾箱，有的话，拿出来。</div>
        <div class="text-section three">QQ邮箱最近推出了“广告邮件”聚合功能。成真和迷上我发给你的邮件很可能被误判入【广告邮件】里面。注意点到广告邮件里查收。你可以点击QQ邮箱左上角的设置，找到右边的【实验室】，然后点击【关闭广告邮件聚合功能】。</div>
        <div class="text-section three">如果你有任何关于购买、支付或者下载的问题，请你立刻给我写邮件，发到：app@MiShangWo.com</div>
    </article>
    <script type="text/html" id="tips_template">
    <div class="cover"><div class="tips"><img src="/assets/images/touting/tips.png" width="297" height="177" /></div></div>
    </script>
    <script type="text/javascript" src="/assets/js/touting/zepto.min.js"></script>
    <script type="text/javascript" src="/assets/js/touting/success.js?v=20160105"></script>
    </body>
</html>
