﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="robots" content="noindex">
    <meta name="robots" content="noarchive">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/pay/', filename='css/receipt.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/pay/', filename='css/dialog.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/pay/', filename='css/order.css') }}">
    <title>“迷上我”和成真的联系方式</title>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5JLLRN" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5JLLRN');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <div class="page">
        <div class="m-header">
            <div class="m-header-inner u-container">
                <h1 class="logo"><a href=""><img src="{{ url_for('/assets/gateway/pay/', filename='images/logo.png') }}" alt="迷上我" width="90" height="48"></a></h1>
            </div>
        </div>
        <div class="u-container u-pt10">
            <div class="order-main">
                <form action="" id="J_order_form">
                    <div class="order-section u-panel">
                        <div class="order-section-hd">
                            <h3 class="order-section-title" align="center">订单收据</h3>
                        </div>
                        <div class="order-section-bd">
                            <div>
                                <hr style="height:1px;border:none;border-top:1px solid #DEDEDE;" />


<br />

<p align=center style="font-size: 12pt; line-height: 180%">恭喜您成为《{{ product_name }}》（手机版）课程的学员！<br />
学员号：{{ order_key }}<br />
订单日期：{{ order_date }}<br /><br />
</p>
  <hr style="height:1px;border:none;border-top:1px solid #DEDEDE;" /><br />
<p><strong><font style="font-size: 11pt; color: #E11E1E">登录课程流程</font></strong></p><br />
<p style="line-height: 200%;">1.请务必记录你的密码和用户名：<br />
<font  style="font-size: 10pt; color: #000000; font-weight: bold">你的用户名：</font> <span style="background-color: #3ABA30; height: 25px; font-weight: bold; color: #fff; font-size: 10pt; padding: 0 6px; ">{{ email }}</span> <br />

<font  style="font-size: 10pt; color: #000000; font-weight: bold">你的密码：&nbsp; &nbsp; </font> <span style="background-color: #3ABA30; height: 25px; font-weight: bold; color: #fff; font-size: 10pt; padding: 0 6px; ">{{ password }}</span><br />
<font style="color: #E11E1E">(用户名和密码已发送到你的邮箱，请妥善保管，你需要这个密码进入到你的课程。)</font><br /><br />
2.获得教程软件：<br />
请打开下面地址，根据提示获得教程:<br />
    <a href="https://m.mishangwo.com/course/payment/status?result=success" target="_blank"><font  style="font-size: 10pt; color: #000000; font-weight: bold">https://m.mishangwo.com/course/payment/status?result=success</font></a><br />
<br /><br />
3.登录教程：<br />
在你的手机上打开“迷上我”，点击[邮箱登录]，输入上面获得的用户名和密码。<br />
祝贺你获得绝大部分男人都不知道的吸引女生的密码。你同时也会在你刚才输入的电子邮箱里收到一封含有本页所有内容的重要邮件。请注意查收你刚才输入的电邮信箱。获取迷上我app的下载链接和用户名密码也会发到这个邮箱。并且注意查收你的垃圾箱。<br /><br /><br /></p>


<p><strong><font style="font-size: 11pt; color: #E11E1E">没收到邮件？看过垃圾箱吗？</font></strong></p><br />
<p style="line-height: 200%;">
QQ邮箱，可以鼠标点击左边【收件箱】，鼠标右击，出来的菜单里，最下面有个【收信查询】，点击收信查询，看看你的收信记录里有没有拦截或者进垃圾箱，有的话，拿出来。<br />
QQ邮箱最近推出了“广告邮件”聚合功能。成真和迷上我发给你的邮件很可能被误判入【广告邮件】里面。注意点到广告邮件里查收。你可以点击QQ邮箱左上角的设置，找到右边的【实验室】，然后点击【关闭广告邮件聚合功能】。<br />
如果你有任何关于购买、支付或者下载的问题，请你立刻给我写邮件，发到：app@MiShangWo.com<br /><br />
</p>
                                <hr style="height:1px;border:none;border-top:1px solid #DEDEDE;" />
                            </div>
                               <div align="center"><a href="javascript:window.close();">[ 关闭 ]</a></div>
                            <br>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="m-footer">
            <div class="m-footer-inner u-container">
                <p class="m-footer-nav">
                    <a href="http://www.mishangwo.com/help/contact.asp" target="_blank">联系迷上我</a>|
                    <a href="http://www.mishangwo.com/help/privacypolicy.asp" target="_blank">隐私政策</a>|
                    <a href="http://www.mishangwo.com/help/faq.shtml" target="_blank">使用条款</a>|
                    <a href="http://www.mishangwo.com/help/aboutmishangwo.asp" target="_blank">关于成真</a>
                </p>
                <p>我非常注重你的隐私，我不会把你在“迷上我”网站上任何信息，流传给和“迷上我”网站不相干的企业或者个人。我期望你也能保护我的隐私。</p>
                <p>“迷上我”，“成真”以及“MiShangWo”为成真和迷上我网站的注册商标。</p>
                <p>如果你有问题，可以发邮件联系我，邮件地址是 jason在mishangwo点com (把“在”换成@，然后“点”就是".")</p>
                <p>Copyright (C) 2009-2016 成真 Mishangwo All rights reserved. 迷上我版权所有 沪ICP备09049233号</p>
            </div>
        </div>
    </div>
</body>

</html>
