<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/', filename='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/', filename='css/dialog.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/', filename='css/order.css') }}">
    <script src="{{ url_for('/assets/gateway/', filename='js/jquery.min.js') }}"></script>
    <title>迷上我</title>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5JLLRN" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5JLLRN');</script>
    <!-- End Google Tag Manager -->
</head>

<body class="pay">
    <div class="page">
        <div class="m-header">
            <div class="m-header-inner u-container">
              <h1 class="logo"><a href=""><img src="{{ url_for('/assets/gateway/', filename='images/logo.png') }}" alt="迷上我" width="90" height="48"></a></h1><strong class="sub">安全订单系统</strong>
            </div>
        </div>
        <div class="u-container u-pt10">
            <div class="order-main">
                <div class="info order-section u-panel">
                    <div class="order-section-hd">
                        <h3 class="order-section-title"><i class="icon-edit icon"></i>订单信息：</h3>
                    </div>
                    <div class="order-section-bd">
                        <div class="order-info">
                            <p class="email-block">您刚输入的电邮是：
                                <span id="email-orgin">
                                  <!--
                                  <em id="email-text">{{ data.email }}</em><a href="javascript:;" class="opera" id="J_email_change">修改</a>
                                  -->
                                  <em id="email-text">{{ data.email }}</em>
                                </span>
                                <span id="email-edit" class="u-hide">
                                  <input id="J_email_input" class="email-input" type="text" value="{{ data.email }}" placeholder="请输入邮箱">
                                    <a class="opera" id="J_email_ok" href="javascript:;">确定</a>
                                    <a class="opera" id="J_email_cancel" href="javascript:;">取消</a>
                                </span>
                            </p>
                            <p>您将订购的产品是：{{ data.product_name }}</p>
                            <p>您将支付的金额是：¥{{ data.total_fee }}</p>
                        </div>
                    </div>
                </div>
                <div class="paytype order-section u-panel">
                    <div class="order-section-hd">
                        <h3 class="order-section-title"><i class="icon-card icon"></i>选择支付方式：</h3>
                    </div>
                    <div class="order-section-bd">
                        <div class="pay-tabs">
                            <div class="pay-tabs-hd">
                                <ul class="pay-tabs-nav u-cf" id="J_pay_tabs_nav">
                                    <li class="pay-tabs-trigger active">平台支付</li>
                                    <li class="pay-tabs-trigger">网银支付</li>
                                    <li class="pay-tabs-trigger">手机充值卡支付</li>
                                    <!-- <li class="pay-tabs-trigger">国际信用卡支付</li> -->
                                </ul>
                            </div>
                            <div class="pay-tabs-content" id="J_pay_tabs_content">
                                <div class="pay-tabs-panel">
                                    <ul class="pay-type-list u-cf" id="J_platform_nav">
                                      <li class="pay-type-item active" data-val="alipay"><img src="{{ url_for('/assets/gateway/', filename='images/alipay.png') }}"></li>
                                      <li class="pay-type-item platform"><img src="{{ url_for('/assets/gateway/', filename='images/weixinpay.png') }}"></li>
                                      <li class="pay-type-item"><img src="{{ url_for('/assets/gateway/', filename='images/qylpay.png') }}"></li>
                                    </ul>
                                    <div class="platform-panels" id="J_platform_panel">
                                        <div class="platform-panel alipay">
                                            <button class="u-button-lred u-button require" data-type='alipay'>下一步</button>
                                            <h4 class="strong">温馨提示：</h4>
                                            <p class="desc">(1) 收款方显示为<strong class="strong">上海奇沃文化传播有限公司</strong>。<br>
                                            (2) 特别注意：支付成功后，不要关闭页面，页面会自动跳转到下载页面。<br>
                                            (3) 同时，会把课程app发到你上面输入的电邮地址。
                                            </p>
                                        </div>
                                        <div class="platform-panel weixin">
                                            <div class="qr-wrap">
                                                <div class="qr-img">
                                                  <img src="{{ data.weixin_code_url }}" alt="微信支付">
                                                  <div class="tips-box">
                                                      <p>请使用微信扫一扫</p>
                                                      <p>扫描二维码支付</p>
                                                  </div>
                                                </div>
                                                <div class="qr-img-phone">
                                                    <img src="{{ url_for('/assets/gateway/', filename='images/wechat_phone_scan.png') }}" alt="微信支付">
                                                </div>
                                            </div>
                                            <h4 class="strong">温馨提示：</h4>
                                            <p class="desc">(1) 收款方显示为<strong class="strong">上海奇沃文化传播有限公司</strong>。<br>
                                            (2) 特别注意：支付成功后，不要关闭页面，页面会自动跳转到下载页面。<br>
                                            (3) 同时，会把课程app发到你上面输入的电邮地址。
                                            </p>
                                        </div>
                                        <div class="platform-panel kuaijie">
                                            <!--
                                            <div class="order-form">
                                                <p><strong class="strong">无需登录，有卡就能付</strong></p>
                                                <p class="u-pt20"><input type="text" id="yeepay_kuaijie_card_no" class="input" placeholder="请输入信用卡或储蓄卡号"></p>
                                            </div>
                                            -->
                                            <button class="require u-button-lred u-button" data-type="yeepay_kuaijie">下一步</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="pay-tabs-panel">
                                    <div class="pay-type-bank">
                                        <ul class="pay-type-list u-cf" id="J_pay_bank-list">
                                            <li class="pay-type-item yeepay active" data-val="ICBC-NET-B2C"><img src="{{ url_for('/assets/gateway/', filename='images/pay-icbc.png') }}"></li>
                                            <li class="pay-type-item yeepay" data-val="CMBCHINA-NET-B2C"><img src="{{ url_for('/assets/gateway/', filename='images/pay-cmb.png') }}"></li>
                                            <li class="pay-type-item yeepay" data-val="ABC-NET-B2C"><img src="{{ url_for('/assets/gateway/', filename='images/pay-abc.png') }}"></li>
                                            <li class="pay-type-item yeepay" data-val="CCB-NET-B2C"><img src="{{ url_for('/assets/gateway/', filename='images/pay-ccb.png') }}"></li>
                                            <li class="pay-type-item yeepay" data-val="BOC-NET-B2C"><img src="{{ url_for('/assets/gateway/', filename='images/pay-boc.png') }}"></li>
                                            <li class="pay-type-item yeepay" data-val="BOCO-NET-B2C"><img src="{{ url_for('/assets/gateway/', filename='images/pay-bocom.png') }}"></li>
                                            <li class="pay-type-item yeepay" data-val="POST-NET-B2C"><img src="{{ url_for('/assets/gateway/', filename='images/pay-psbc.png') }}"></li>
                                            <li class="pay-type-item yeepay" data-val="SPDB-NET-B2C"><img src="{{ url_for('/assets/gateway/', filename='images/pay-spdb.png') }}"></li>
                                            <li class="pay-type-item yeepay" data-val="PINGANBANK-NET-B2C"><img src="{{ url_for('/assets/gateway/', filename='images/pay-pab.png') }}"></li>
                                            <li class="pay-type-item yeepay" data-val="CIB-NET-B2C"><img src="{{ url_for('/assets/gateway/', filename='images/pay-cib.png') }}"></li>
                                            <li class="pay-type-item yeepay" data-val="CMBC-NET-B2C"><img src="{{ url_for('/assets/gateway/', filename='images/pay-cmbc.png') }}"></li>
                                            <li class="pay-type-item yeepay" data-val="GDB-NET-B2C"><img src="{{ url_for('/assets/gateway/', filename='images/pay-gdb.png') }}"></li>
                                            <li class="pay-type-item yeepay" data-val="ECITIC-NET-B2C"><img src="{{ url_for('/assets/gateway/', filename='images/pay-cncb.png') }}"></li>
                                            <li class="pay-type-item yeepay" data-val="CEB-NET-B2C"><img src="{{ url_for('/assets/gateway/', filename='images/pay-ceb.png') }}"></li>
                                            <!--
                                            <li class="pay-type-item yeepay" data-val="SDB-NET-B2C"><img src="{{ url_for('/assets/gateway/', filename='images/pay-sdb.png') }}"></li>
                                            -->
                                            <li class="pay-type-item yeepay" data-val="HXB-NET-B2C"><img src="{{ url_for('/assets/gateway/', filename='images/pay-hxb.png') }}"></li>
                                            <li class="pay-type-item yeepay" data-val="BCCB-NET-B2C"><img src="{{ url_for('/assets/gateway/', filename='images/pay-bob.png') }}"></li>
                                            <li class="pay-type-item yeepay" data-val="SHB-NET-B2C"><img src="{{ url_for('/assets/gateway/', filename='images/pay-bos.png') }}"></li>

                                            <!--
                                            <li class="pay-type-item yeepay" data-val="NJCB-NET-B2C"><img src="{{ url_for('/assets/gateway/', filename='images/pay-njcb.png') }}"></li>
                                            <li class="pay-type-item yeepay" data-val="HZB-NET-B2C"><img src="{{ url_for('/assets/gateway/', filename='images/pay-hzb.png') }}"></li>
                                            <li class="pay-type-item yeepay" data-val="YJZF-NET"><img src="{{ url_for('/assets/gateway/', filename='images/qylpay.png') }}"></li>
                                            -->
                                            <!--
                                            <li class="pay-type-other">
                                                <input type="checkbox" class="checkbox" id="J_pay_type_other">
                                                <label for="J_pay_type_other">选择其他银行</label>
                                            </li>
                                            -->
                                        </ul>
                                        <div class="pay-bank-dialog u-hide" id="J_pay_bank_dialog">
                                            <p>请选择银行：</p>
                                            <ul class="pay-type-list u-cf u-pt10" id="J_pay_bank-list">
                                                <!--
                                                <li class="pay-type-item yeepay_other active" data-val="SDB-NET-B2C"><img src="{{ url_for('/assets/gateway/', filename='images/pay-sdb.png') }}"></li>
                                                <li class="pay-type-item yeepay_other" data-val="BCCB-NET-B2C"><img src="{{ url_for('/assets/gateway/', filename='images/pay-bob.png') }}"></li>
                                                <li class="pay-type-item yeepay_other" data-val="SHB-NET-B2C"><img src="{{ url_for('/assets/gateway/', filename='images/pay-bos.png') }}"></li>
                                                <li class="pay-type-item yeepay_other" data-val="NJCB-NET-B2C"><img src="{{ url_for('/assets/gateway/', filename='images/pay-njcb.png') }}"></li>
                                                <li class="pay-type-item yeepay_other" data-val="HZB-NET-B2C"><img src="{{ url_for('/assets/gateway/', filename='images/pay-hzb.png') }}"></li>
                                                <li class="pay-type-item yeepay_other" data-val="cbhb"><img src="{{ url_for('/assets/gateway/', filename='images/pay-cbhb.png') }}"></li>
                                                <li class="pay-type-item yeepay_other" data-val="hkbea"><img src="{{ url_for('/assets/gateway/', filename='images/pay-hkbea.png') }}"></li>
                                                <li class="pay-type-item yeepay_other" data-val="nbcb"><img src="{{ url_for('/assets/gateway/', filename='images/pay-nbcb.png') }}"></li>
                                                <li class="pay-type-item yeepay_other" data-val="brcb"><img src="{{ url_for('/assets/gateway/', filename='images/pay-brcb.png') }}"></li>
                                                <li class="pay-type-item yeepay_other" data-val="czb"><img src="{{ url_for('/assets/gateway/', filename='images/pay-czb.png') }}"></li>
                                                <li class="pay-type-item yeepay_other" data-val="srcb"><img src="{{ url_for('/assets/gateway/', filename='images/pay-srcb.png') }}"></li>
                                                <li class="pay-type-item yeepay_other" data-val="hebb"><img src="{{ url_for('/assets/gateway/', filename='images/pay-hebb.png') }}"></li>
                                                <li class="pay-type-item yeepay_other" data-val="ncb"><img src="{{ url_for('/assets/gateway/', filename='images/pay-ncb.png') }}"></li>
                                                <li class="pay-type-item yeepay_other" data-val="zjtlcb"><img src="{{ url_for('/assets/gateway/', filename='images/pay-zjtlcb.png') }}"></li>
                                                <li class="pay-type-item yeepay_other" data-val="hxb"><img src="{{ url_for('/assets/gateway/', filename='images/pay-hxb.png') }}"></li>
                                                -->
                                            </ul>
                                            <p class="u-tac">
                                                <button class="require u-button-lred u-button" data-type='yeepay_other'>下一步</button>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="pay-type-bank-ft">
                                        <button class="require u-button-lred u-button" data-type='yeepay'>下一步</button>
                                    </div>
                                </div>
                                <div class="pay-tabs-panel">
                                    <div class="pay-type-mob">
                                        <div class="mob-selector">
                                            <div class="mob-selector-inner">
                                                <ul class="pay-type-list u-cf">
                                                    <li class="pay-type-item mob" data-type="mob" data-val="UNICOM-NET"><img src="{{ url_for('/assets/gateway/', filename='images/ltmobilepay.png') }}"></li>
                                                    <li class="pay-type-item mob" data-type="mob" data-val="SZX-NET"><img src="{{ url_for('/assets/gateway/', filename='images/ydmobilepay.png') }}"></li>
                                                </ul>
                                                <input type="hidden" name="" id="J_paycard_val">
                                            </div>
                                        </div>
                                        <div class="mob-desc u-hide">
                                            <p>温馨提示：此充值方式不需使用您的手机操作，与您的手机号是属于移动或者联通无关，没有手机也可以使用</p>
                                            <p>操作步骤：</p>
                                            <p class="u-pt20"><img src="{{ url_for('/assets/gateway/', filename='images/paystep.gif') }}" alt=""></p>
                                            <p class="u-pt20">温馨提示：<br>
                                                （1）：必须是中国移动发行的，能用于给神州行手机充值的卡，序列号17位以及浙江移动电子缴费券（全球通、金卡神州行通用、序列号10位）江苏移充值卡（序列号16位）。<br>
                                                （2）：购买神州行充值卡请到固定网点，最好避免在流动摊点购买，以免出现纠纷。购买时请注意充值卡的密封完整性以及截至使用日期，以免上当受骗。<br>
                                                （3）：请在购买神州行充值卡的销售网点索要发票，我们不在为你另行提供发票。
                                            </p>
                                        </div>
                                        <div class="pay-type-mob-ft">
                                            <button class="require u-button-lred u-button" data-type="mob">下一步</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="pay-tabs-panel">国际信用卡支付</div> -->
                            </div>
                        </div>
                    </div>
                    <div class="pay-result-dialog u-hide" id="J_pay_result_dialog">
                        <p class="u-pt10">请您在新打开的网上银行页面进行支付，支付完成前请不要关闭该窗口</p>
                        <p class="btns">
                            <a href="http://www.mishangwo.com/mishangwo/paydone.html" class="success btn">已完成支付</a>
                            <a href="http://www.mishangwo.com/mishangwo/payhelp.html" class="failed btn">付款遇到问题</a>
                        </p>
                        <p class="u-tac">
                            <a href="http://www.mishangwo.com/mishangwo/payhelp.html">查看支付帮助</a>或<a href="http://www.mishangwo.com/mishangwo/paydone.html">联系售后服务</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-footer">
            <div class="m-footer-inner u-container">
                <p>Copyright (C) 2009-2016 成真 Mishangwo All rights reserved. 迷上我版权所有 沪ICP备09049233号</p>
                <p class="m-footer-nav">
                    <a href="http://www.mishangwo.com/help/contact.asp" target="_blank">联系迷上我</a>|
                    <a href="http://www.mishangwo.com/help/privacypolicy.asp" target="_blank">隐私政策</a>|
                    <a href="http://www.mishangwo.com/help/faq.shtml" target="_blank">使用条款</a>|
                    <a href="http://www.mishangwo.com/help/aboutmishangwo.asp" target="_blank">关于成真</a>
                </p>
            </div>
        </div>
    </div>
    <script src="{{ url_for('/assets/gateway/', filename='js/jquery.mailAutoComplete.js') }}"></script>
    <script src="{{ url_for('/assets/gateway/', filename='js/jquery.dialog.js') }}"></script>
    <script src="{{ url_for('/assets/gateway/', filename='js/pay.js') }}"></script>
    <div id="hidden_div_sku" style="display: none">
        {{ data.sku }}
    </div>
    <div id="hidden_div_wx_out_trade_no" style="display: none">
        {{ data.wx_out_trade_no}}
    </div>
</body>
</html>
