<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/', filename='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/', filename='css/dialog.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/', filename='css/order.css') }}">
    <script src="{{ url_for('/assets/gateway/', filename='js/jquery.min.js') }}"></script>
    <title>迷上我</title>

</head>

<body class="order">
<div class="page">
    <div class="m-header">
        <div class="m-header-inner u-container">
            <h1 class="logo"><a href=""><img src="{{ url_for('/assets/gateway/', filename='images/logo.png') }}" alt="迷上我" width="90" height="48"></a></h1><strong class="sub">用户退款</strong>
        </div>
    </div>
    <div class="u-container u-pt10">
        <div class="order-main">
            <form method='POST' action="/gateway/tuikuan/submit" id="J_order_form">

                <div class="order-section u-panel">
                    <div class="order-section-hd">
                        <h3 class="order-section-title"><i class="icon-email icon"></i>输入您的退款信息：</h3>
                    </div>
                    <div class="order-section-bd u-cf">
                        <div class="order-form u-fl">
                            <p class="item">
                                <input type="text" class="input" id="J_email" name='user_email' placeholder="请输入购买邮箱地址"><span class="required">*必填</span>
                            </p>
                            <p class="item">
                                <input type="text" class="input" id="J_stdno" name='user_stdno' placeholder="请输入学员号"><span class="required">*必填</span>
                            </p>
                            <p class="text">重要！请确保以上信息填写正确，才能成功办理退款。</p>
                            <p class="text">请在购买课程之日起7天内申请退款，超过7天退款期将不能办理退款申请。</p>
                            <p class="item">
                            <h5 class="order-section-title" style="font-size:12px">退款原因（非必填）：</h5>
                            </p>
                            <p class="item">
                                <input type="checkbox" name="cause" value="1"/>7天无理由退款<br><br>
                                <input type="checkbox" name="cause" value="2"/>课程不适合我<br><br>
                                <input type="checkbox" name="cause" value="3"/>不喜欢课程<br><br>
                                <input type="checkbox" name="cause" value="4"/>重复购买<br><br>
                                <input type="checkbox" name="cause" value="5"/>其他
                            </p>
                        </div>
                        <div class="order-form-button u-fl">
                            <button class="u-button-lred u-button" id="J_submitbtn">申请退款</button>
                        </div>
                        <input type="hidden" value="pc"  name="source"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="m-footer">
        <div class="m-footer-inner u-container">
            <p>Copyright (C) 2009-2016 成真 Mishangwo All rights reserved. 迷上我版权所有 沪ICP备09049233号</p>
            <p class="m-footer-nav">
                <a href="http://www.mishangwo.com/help/contact.asp" target="_blank">联系迷上我</a>|
                <a href="http://www.mishangwo.com/help/privacypolicy.asp" target="_blank">隐私政策</a>|
                <a href="http://www.mishangwo.com/help/faq.shtml" target="_blank">使用条款</a>|
                <a href="http://www.mishangwo.com/help/aboutmishangwo.asp" target="_blank">关于成真</a>
            </p>
        </div>
    </div>
</div>
<script src="{{ url_for('/assets/gateway/', filename='js/jquery.dialog.js') }}"></script>
<script type="text/javascript">
    (function(){

        var utils = {
            reg: {
                email: /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/,
                stdno:/^[a-zA-Z0-9]{1,32}$/
            },
            valid: {
                isEmpty: function(value) {
                    return $.trim(value) === '';
                },
                isEmail: function(value){
                    return utils.reg.email.test(value);
                },
                isStdNo: function(value){
                    return utils.reg.stdno.test(value);
                }
            }
        };

        var TIP_UEMAIL_ERROR = '请填写正确的电子邮件地址！',
            TIP_USTDNO_ERROR = '请填写正确的学员编号！';

        function placeholder (elem) {

            var supportPlaceholder = 'placeholder' in document.createElement('input');

            // 在不支持placeholder情况下，用label形式模仿
            if(!supportPlaceholder){

                elem.each(function(){

                    var $this = $(this),
                        _id = '', label;

                    $this.val('');

                    if(this.id){
                        _id = this.id;
                    } else {
                        _id = '_' + new Date().getTime();
                        this.id = _id;
                    }

                    label = $('<label for="'+ _id +'" class="placeholder">'+ ($this.attr('placeholder') || '') +'</label>');

                    $this.before(label);

                    $this.on('focus blur', function(e){
                        if(e.type === 'focus') {
                            label.hide();
                        } else {
                            $.trim($(this).val()) === '' ? label.show() : label.hide();
                        }
                    });
                });
            }
        }


        $(function(){

            var mainOriginEl = $('#J_email'),
                stdnoOriginEl = $('#J_stdno'),
                submitBtn = $('#J_submitbtn');

            // 邮箱验证
            function valid(emailVal, stdnoVal){

                var error = [];
                (utils.valid.isEmpty(emailVal) ||  !utils.valid.isEmail(emailVal))&& error.push(TIP_UEMAIL_ERROR);
                (utils.valid.isEmpty(stdnoVal) ||  !utils.valid.isStdNo(stdnoVal))&& error.push(TIP_USTDNO_ERROR);
                return error;
            }


            // 提交表单时验证邮箱
            $('#J_order_form').on('submit', function(e){
                var emailVal = mainOriginEl.val(),
                    stdnoVal = stdnoOriginEl.val();

                var error = valid(emailVal, stdnoVal);

                if(error.length){
                    dialog({
                        skin: 'simple',
                        title: ' ',
                        width: 400,
                        height: 100,
                        content: '<p class="failed" style="margin-top:25px;">' + error[0] + '</p>',
                        onshow: function(){
                            $(this.__popup).find('button.ui-dialog-close').text('[关闭]');
                        }
                    }).showModal();

                    return false;
                }
            });

            placeholder($('input.input'));
        });
    })();
</script>

</body>
</html>
