﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/book/mobile/', filename='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/book/mobile/', filename='css/quickab.css') }}">
    <script src="{{ url_for('/assets/gateway/book/mobile/', filename='js/jquery.min.js') }}"></script>
    <title>迷上我</title>
</head>

<body class="quick">
    <div class="page">
        <header class="ui-header">
            <h1 class="msw">用户退款</h1>
            <p class="sm">7天无理由退款</p>
        </header>
        <div class="main">
            <div class="content-padded">
                <form action="/gateway/tuikuan/submit" id="J_form_quick" class="form" method='POST'>
                    <div class="quick-section">
                        <h3 class="title">输入您的退款信息（必填）</h3>
                        <input type="text" class="input" id="J_email" name='user_email' placeholder="请输入购买邮箱地址">
                        <input type="text" class="input" id="J_stdno" name='user_stdno'  placeholder="请输入学员号">
                        <p class="text">重要！请确保以上信息填写正确，才能成功办理退款。</p>
                        <p class="text">请在购买课程之日起7天内申请退款，超过7天退款期将不能办理退款申请。</p>
                    </div>
                    <div class="quick-section">
                        <h3 class="title">退款原因（非必填）</h3>
                        <p class="text">
                            <input type="checkbox" name="cause" value="1"/> 7天无理由退款<br><br>
                            <input type="checkbox" name="cause" value="2"/> 课程不适合我<br><br>
                            <input type="checkbox" name="cause" value="3"/> 不喜欢课程<br><br>
                            <input type="checkbox" name="cause" value="4"/> 重复购买<br><br>
                            <input type="checkbox" name="cause" value="5"/> 其他
                        </p>
                    </div>
                    <button class="submit ui-btn-lg ui-btn-danger disabled" id="J_submitbtn">申请退款</button>
                    <p class="failed" id="J_form_quick_failed"></p>
                    <input type="hidden" value="mobile"  name="source"/>
                </form>
            </div>
        </div>
    </div>

    <script>
        $(function(){

            var mailEl = $('#J_email'),
                stdEl = $('#J_stdno'),
                formFailedEl = $('#J_form_quick_failed'),
                submitBtn = $('#J_submitbtn');

            function isMail(value){
                return /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test(value);
            };


            function isStdno(value){
                return /^[a-zA-Z0-9]{1,32}$/.test(value);
            };

            function isEmpty(value){
                return $.trim(value) === '';
            }

            function valid(mailEl, stdEl){
                var error = [];
                isEmpty(mailEl) && error.push('请输入邮箱');
                !isMail(mailEl) && error.push('邮箱格式不正确');
                isEmpty(stdEl) && error.push('请输入学员编号');
                !isStdno(stdEl) && error.push('学员编号不正确');
                return error;
            }


            $('#J_email,#J_stdno').on('focus', function(){
                formFailedEl.text('');
            }).on('input', function(){
                var mailVal = mailEl.val(),
                    stdnoVal = stdEl.val();

                var error = valid(mailVal, stdnoVal);

                if(error.length){
                    submitBtn.addClass('disabled');
                }else{
                    submitBtn.removeClass('disabled');
                }
            });

            $('#J_form_quick').on('submit', function(){
                var mailVal = mailEl.val(),
                    stdnoVal = stdEl.val();

                var error = valid(mailVal, stdnoVal);


                if(error.length){
                    formFailedEl.text(error[0]);
                    return false;
                }else{
                    formFailedEl.text('');
                }
            });

        })
    </script>
</body>
</html>
