<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/book/mobile/', filename='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/book/mobile/', filename='css/quickab.css') }}">
    <script src="{{ url_for('/assets/gateway/book/mobile/', filename='js/jquery.min.js') }}"></script>
    <title>迷上我</title>
</head>

<body class="quick">
<div class="page">
    <header class="ui-header">
        <h1 class="msw">用户退款</h1>
        <p class="sm">7天无理由退款</p>
    </header>
    <div class="main">
        <div class="content-padded" >
                <div class="quick-section" style="font-size: 14px;line-height: 26px;margin-bottom: 20px">
                    <p class="text">您的退款申请已经提交成功。</p>
                    <p class="text">退款将在1-15个工作日内，原路退还到你购买时使用的支付账户中，请耐心等待和注意查收。</p>
                </div>
            <div align="center">
                <button class="submit ui-btn-lg ui-btn-danger" onclick="window.location.href='https://apps.mishangwo.com/gateway/m/tuikuan/';">关闭</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
