<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/', filename='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/', filename='css/dialog.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/', filename='css/order.css') }}">
    <script src="{{ url_for('/assets/gateway/', filename='js/jquery.min.js') }}"></script>
    <title>迷上我</title>

</head>

<body class="order">
<div class="page">
    <div class="m-header">
        <div class="m-header-inner u-container">
            <h1 class="logo"><a href=""><img src="{{ url_for('/assets/gateway/', filename='images/logo.png') }}" alt="迷上我" width="90" height="48"></a></h1><strong class="sub">用户退款</strong>
        </div>
    </div>
    <div class="u-container u-pt10">
        <div class="order-main">
                <div class="order-section u-panel">
                    <div style="font-size: 14px;line-height: 26px;margin-bottom: 20px">
                        <p>您的退款申请已经提交成功。</p>
                        <p>退款将在1-15个工作日内，原路退还到你购买时使用的支付账户中，请耐心等待和注意查收。</p>
                    </div>
                    <div align="center">
                        <button class="u-button-lred u-button" onclick="window.location.href='https://apps.mishangwo.com/gateway/tuikuan/';">关闭</button>
                    </div>
                </div>
        </div>
    </div>
    <div class="m-footer">
        <div class="m-footer-inner u-container">
            <p>Copyright (C) 2009-2016 成真 Mishangwo All rights reserved. 迷上我版权所有 沪ICP备09049233号</p>
            <p class="m-footer-nav">
                <a href="http://www.mishangwo.com/help/contact.asp" target="_blank">联系迷上我</a>|
                <a href="http://www.mishangwo.com/help/privacypolicy.asp" target="_blank">隐私政策</a>|
                <a href="http://www.mishangwo.com/help/faq.shtml" target="_blank">使用条款</a>|
                <a href="http://www.mishangwo.com/help/aboutmishangwo.asp" target="_blank">关于成真</a>
            </p>
        </div>
    </div>
</div>

</body>
</html>
