<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/book/mobile/', filename='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/book/mobile/', filename='css/quickab.css') }}">
    <script src="{{ url_for('/assets/gateway/book/mobile/', filename='js/jquery.min.js') }}"></script>
    <title>迷上我</title>
</head>

<body class="quick">
<div class="page">
    <header class="ui-header">
        <h1 class="msw">用户退款</h1>
        <p class="sm">7天无理由退款</p>
    </header>
    <div class="main">
        <div class="content-padded" >
                <div class="quick-section" style="font-size: 14px;line-height: 26px;margin-bottom: 20px">
                    <p class="text">对不起，您的退款申请提交失败。</p>
                    <p class="text">请仔细查看你的购买邮箱及学员号是否填写正确或者是否已经提交过此订单的退款申请。</p>
                </div>
            <div align="center">
                <button class="submit ui-btn-lg ui-btn-danger" onclick="window.location.href='https://apps.mishangwo.com/gateway/m/tuikuan/';">重新提交</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
