﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/book/mobile/', filename='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/book/mobile/', filename='css/quickab.css') }}">
    <script src="{{ url_for('/assets/gateway/book/mobile/', filename='js/jquery.min.js') }}"></script>
    <title>迷上我</title>
</head>

<body class="quick">
<div class="page">
    <header class="ui-header">
        <h1 class="msw" style="text-align: center">{{ title }}</h1>

    </header>
    <div class="main">
        <div class="content-padded">
            <form action="/activities/m/freeVideo/submit/" id="J_form_quick" class="form" method='POST'>
                <div class="quick-section">
                    <h3 class="title">输入手机号登录</h3>
                    <input type="text" class="input" name="telephone" id="J_phone_confirm" placeholder="请输入手机号">
                    <input type="text" class="input u-fl" style="width: 130px" name="code" id="J_code_confirm" placeholder="请输入验证码">
                    <button class="submit ui-btn ui-btn-danger" id="J_subcode" style="height: 40px;width: 130px;">获取验证码</button>
                    <p class="failed" id="J_form_quick_failed" style="display: block;height: 20px"></p>
                </div>
                <button class="submit ui-btn-lg ui-btn-danger disabled" id="J_submitbtn" style="margin-top: 10px;background-color:#D2D5D7;color:#979797">登录课程</button>
                <p class="ui-newstips-wrap" style="margin-top: 0px"><a class="ui-txt-info ui-txt-tips" href="http://www.mishangwo.com/help/privacypolicy.html" target="_blank" style="color:#CFCFCF" >隐私条款</a></p>
            </form>
        </div>
    </div>
</div>

<script>
    $(function(){

        var phoneEle = $('#J_phone_confirm'),
            codeEle = $('#J_code_confirm'),
            formFailedEl = $('#J_form_quick_failed'),
            submitBtn = $('#J_submitbtn');

        var errorMsg = {
            'MSG_1': '手机号码不正确',
            'MSG_2': '获取验证码过于频繁，请稍后再试',
            'MSG_3': '验证码过期',
            'MSG_4': '验证码不正确',
            'MSG_SUCCESS': '成功',
            'MSG_FAILED': '验证码获取失败，请稍后再试',
        }


        function isTelephone(str) {
            var myreg=/^[1][3,4,5,6,7,8,9][0-9]{9}$/;
            if (!myreg.test(str)) {
                return false;
            } else {
                return true;
            }
        }

        function isCode(str) {
            var myreg=/^[0-9]{6}$/;
            if (!myreg.test(str)) {
                return false;
            } else {
                return true;
            }
        }

        function isEmpty(value){
            return $.trim(value) === '';
        }

        function validVal(telephoneVal, codeVal){
            var error = [];
            !isTelephone(telephoneVal) && error.push(errorMsg.MSG_1);
            !isCode(codeVal) && error.push(errorMsg.MSG_4);
            return error;
        }


        $('#J_code_confirm,#J_phone_confirm').on('focus', function(){
            formFailedEl.text('');
        }).on('input', function(){

            var error = validVal($.trim(phoneEle.val()), $.trim(codeEle.val()));

            if(error.length){
                submitBtn.addClass('disabled');
                submitBtn.css({'color':'#979797'})
            }else{
                submitBtn.removeClass('disabled');
                submitBtn.css({'color':'#ffffff'})
            }
        });

        $('#J_submitbtn').on('click', function(){
            var error = validVal($.trim(phoneEle.val()), $.trim(codeEle.val()));
            if(error.length){
                formFailedEl.text(error[0]);
                return false;
            }else{
                formFailedEl.text('');
            }
            $.ajax({
                type: "POST",
                url: "/activities/m/freeVideo/submit/",
                data: "phone="+$.trim(phoneEle.val())+"&code="+$.trim(codeEle.val()),
                success: function(msg){
                    if(msg!='MSG_SUCCESS'){
                        formFailedEl.text(errorMsg[msg]);
                    }else{
                        location.href="/activities/m/freeVideo/show/";
                    }
                }
            });
            return false;
        });

        $('#J_subcode').on('click', function(){
            if(!isTelephone($.trim(phoneEle.val()))){
                formFailedEl.text(errorMsg.MSG_1);
                return false;
            }
            var _this = $(this);

            if(_this.hasClass('disabled')){
                return false;
            }
            _this.attr("disabled");
            _this.addClass('disabled');
            var val = parseInt(_this.text());
            var time = 60;
            _this.text(time + " S");
            time--;
            var timer = setInterval(function() {
                val = time + " S";
                _this.text(val);
                if (time > 0) {
                    time--;
                } else {
                    //原始颜色
                    _this.text("获取验证码").removeAttr("disabled");
                    _this.removeClass('disabled');
                    clearInterval(timer);
                }
            }, 1000);

            $.ajax({
                type: "POST",
                url: "/activities/m/freeVideo/code/",
                data: "phone="+$.trim(phoneEle.val()),
                success: function(msg){
                    if(msg!='MSG_SUCCESS'){
                        formFailedEl.text(errorMsg[msg]);
                    }else{

                    }
                }
            });
            return false;
        });

    })
</script>
</body>

</html>
