﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/book/mobile/', filename='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/book/mobile/', filename='css/quickab.css') }}">
    <link href="{{ url_for('/assets/', filename='css/mediaelementplayer.css') }}" rel="stylesheet">
    <script src="{{ url_for('/assets/gateway/book/mobile/', filename='js/jquery.min.js') }}"></script>
    <style type="text/css">
        .mejs-controls:not([style*="display: none"]) {
            background: rgba(255,0,0,.7);
            background: -webkit-linear-gradient(transparent,rgba(0,0,0,.35));
            background: linear-gradient(transparent,rgba(0,0,0,.35));
        }
    </style>
    <title>迷上我</title>
</head>

<body class="quick">
<div class="page">
    <header class="ui-header">
        <h1 class="msw" style="text-align: center">{{ title }}</h1>

    </header>
    <div class="main">
        <div >
                <div class="quick-section player">
                    <video class="mobile"   style="width: 100%; height: 100%;"   webkit-playsinline  alt="{{ title }}" poster="/assets/images/cover.png" preload="none" >
                        <source type="video/mp4" src="http://cdn.mishangwo.com/neixin.mp4">
                    </video>
                </div>
                 <p class="text content-padded">《内心建设的3个途径》讲的是内心建设的最根本的核心，也是在恋爱关系里自卑和自信的根本原因。 这是真正的秘诀。 </p>
            <p class="text content-padded">这个视频内容确实生涩，如果看完觉得不知道我在说什么，没关系。你先暂且放一放，我更希望你把它放在你脑后，在你的记忆里，找一块平时不用的地方，暂且先放那。但建议你别丢掉。 以后肯定会帮到你。 </p>
            <p class="text content-padded">如果，你看了后，有一种恍然大悟，原来如此的感觉，我为你高兴。  你马上必会突破，像换了个人似的。 会瞬间打开禁锢住你的内心的牢笼，让你由内而发地自由，感受到内心的强大。
            </p>
            <p class="text content-padded">如果，你看了后，有那么一点感觉，但又不是很明白，想要搞清楚，我给你个建议，你退回到刚才我微信公号的消息，看到今天发的第一条的（常规回答）吗？ 从头到底读一遍这几个问题，和我的解答。 你就会更清楚。 </p>
            <p class="text content-padded">不理解的，有问题的，还是来我微博（<a href="https://weibo.com/mishangwo" target="_blank" style=" color: #da0032;">@成真mishangwo</a>) 评论里问我。</p>
        </div>
    </div>
</div>
<script src="{{ url_for('/assets/gateway/book/mobile/', filename='js/video.js?v=7') }}"></script>
<script src="{{ url_for('/assets/', filename='js/mediaelement-and-player.min.js') }}"></script>

</body>

</html>
