<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>支付</title>
    <meta name="keywords" />
    <meta name="description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />

    <link href="/assets/css/pay/reset.css" rel="stylesheet"/>
    <link href="/assets/css/pay/style2.css" rel="stylesheet"/>
    <link href="/assets/css/pay/detail.css?v=20150327" rel="stylesheet"/>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5JLLRN" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5JLLRN');</script>
    <!-- End Google Tag Manager -->
</head>


<body class="">

<div class="wrapper">

<div class="content">
    <div class="payments">
        <div class="hdr" style='margin-top:4%; font-size:1.2em; font-weight: bold;'>
            请选择支付方式
        </div>

        <div style='display:none' id='sku_div'>{{ sku }}</div>
        <div style='display:none' id='email_div'>{{ email }}</div>
        <div style='display:none' id='username_div'>{{ username }}</div>
        <div style='display:none' id='telephone_div'>{{ telephone }}</div>
        <a class="btn" href="javascript:;" onclick="create_alipay_order()">
            <div>
                <img src='/assets/gateway/images/pay_alipay_icon.png' style="width: 50px; height: 50px; float: left; margin-top: 15px; margin-right: 15px;" />
            </div>
            <div>
                <span class="t" style="margin-top:25px">支付宝支付</span>
            </div>
        </a>
        <a class="btn" href="javascript:;" onclick="create_yeepay_order()">
            <div>
                <img src='/assets/gateway/images/pay_unionpay_icon.png' style="width: 50px; height: 50px; float: left; margin-top: 15px; margin-right: 15px;" />
            </div>
            <div>
                <span class="t" style="margin-top: 25px">银行卡支付 <font style="font-size: 24px; color: #bebebe">&nbsp;&nbsp;&nbsp;无需开通网银</font></span>
            </div>
        </a>
    </div>

    <div class="hotline" style="font-size:25px">
        提示: <br />
        1, 支付完成后,请点击“完成”按钮完成报名 <br />
        2, 支付遇到问题，请联系: app@mishangwo.com
    </div
</div>

</div>

<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/pay/touchevents.js"></script>

<script src="/assets/js/alipay_in_weixin.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    function create_alipay_order() {
        $.ajax({
            type: "POST",
            url: "/activities/mobile/pay/submit",
            data: {
                sku: $("#sku_div").text(),
                email: $("#email_div").text(),
                username: $("#username_div").text(),
                telephone: $("#telephone_div").text(),
                pay_type: 'alipay'
            },
            beforeSend: function() {show_spinner(true);},
        })
        .always(function() {show_spinner(false);})
        .done(function(data){
            if (data.success) {
                window.location = data.execute_url
            } else {
                alert(data.err_msg);
            }
        });
    }

    function create_yeepay_order() {
        $.ajax({
            type: "POST",
            url: "/activities/mobile/pay/submit",
            data: {
                sku: $("#sku_div").text(),
                email: $("#email_div").text(),
                username: $("#username_div").text(),
                telephone: $("#telephone_div").text(),
                pay_type: 'yeepay'
            },
            beforeSend: function() {show_spinner(true);},
        })
        .always(function() {show_spinner(false);})
        .done(function(data){
            if (data.success) {
                window.location = data.execute_url
            } else {
                alert(data.err_msg);
            }
        });
    }


    function pay_success(res, otn) {
        window.location = ('/activities/pay_succeed?otn=' + otn)
    }

    function pay_failed(res) {
        alert("支付失败，请重新尝试!");
    }

    function show_spinner(flag) {
        if (flag) {
            $('<div class="spinner dark"><a></a></div>').appendTo(document.body).find('a').css('opacity', 0).animate({opacity: 1}, 400);
        } else {
            $('body > div.spinner').remove();
        }
    }
</script>

</body>
</html>
