﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/book/mobile/', filename='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/book/mobile/', filename='css/quickab.css') }}">
    <script src="{{ url_for('/assets/gateway/book/mobile/', filename='js/jquery.min.js') }}"></script>
    <title>迷上我</title>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5JLLRN" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5JLLRN');</script>
    <!-- End Google Tag Manager -->
</head>

<body class="quick">
<div class="page">
    <header class="ui-header">
        <h1 class="msw">{{ title }}</h1>

    </header>
    <div class="main">
        <div class="content-padded">
            <form action="/activities/mobile/pay/before_redirect" id="J_form_quick" class="form" method='POST'>
                <div class="quick-section">
                    <h3 class="title">填写报名信息</h3>
                    <input type="text" class="input" name="username" id="J_name_confirm" placeholder="输入您的姓名">
                    <input type="text" class="input" name="telephone" id="J_phone_confirm" placeholder="输入手机号码">
                    <input type="text" class="input" name="email" id="J_mail_origin" placeholder="输入邮箱地址">
                    <input type="hidden" name="product_name" value="{{ product_name }}" >
                    <!--<p class="text">课程App下载链接会发送到该邮箱</p>-->
                </div>
                <div class="quick-section" id="J_form_plans">
                    <h3 class="title">您的课程</h3>
                    <h4 class="newt"><em>￥{{ price / 100 }}</em> {{ title }} </h4>

                </div>
                <button class="submit ui-btn-lg ui-btn-danger disabled" id="J_submitbtn">点击报名</button>
                <p class="failed" id="J_form_quick_failed"></p>
            </form>
        </div>
    </div>
</div>

<script>
    $(function(){

        var mainOriginEl = $('#J_mail_origin'),
            usernameEl = $('#J_name_confirm'),
            telephoneEl= $('#J_phone_confirm'),
            formFailedEl = $('#J_form_quick_failed'),
            submitBtn = $('#J_submitbtn');

        function isMail(value){
            return /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test(value);
        }

        function isTelephone(str) {
            var myreg=/^[1][3,4,5,7,8][0-9]{9}$/;
            if (!myreg.test(str)) {
                return false;
            } else {
                return true;
            }
        }

        function  isUserName(str){
            var myreg= /^[\u4e00-\u9fa5\dA-Za-z_]{1,30}$/;
            if (!myreg.test(str)) {
                return false;
            } else {
                return true;
            }
        }

        function isEmpty(value){
            return $.trim(value) === '';
        }

        function validVal(originValue, usernameVal,telephoneVal){
            var error = [];
            isEmpty(originValue) && error.push('请输入邮箱');
            isEmpty(usernameVal) && error.push('请输入姓名');
            isEmpty(telephoneVal) && error.push('请输入手机号码');
            !isMail(originValue) && error.push('邮箱格式不正确');
            !isTelephone(telephoneVal) && error.push('手机格式不正确');
            !isUserName(usernameVal) && error.push('姓名格式不正确');
            return error;
        }


        $('#J_mail_origin,#J_name_confirm,#J_phone_confirm').on('focus', function(){
            formFailedEl.text('');
        }).on('input', function(){
            var originVal = $.trim(mainOriginEl.val()),
                usernameVal = $.trim(usernameEl.val()),
                telephoneVal = $.trim(telephoneEl.val());

            var error = validVal(originVal, usernameVal, telephoneVal);

            if(error.length){
                submitBtn.addClass('disabled');
            }else{
                submitBtn.removeClass('disabled');
            }
        });

        $('#J_form_quick').on('submit', function(){
            var originVal = $.trim(mainOriginEl.val()),
                usernameVal = $.trim(usernameEl.val()),
                telephoneVal = $.trim(telephoneEl.val());

            var error = validVal(originVal, usernameVal, telephoneVal);

            if(error.length){
                formFailedEl.text(error[0]);
                return false;
            }else{
                formFailedEl.text('');
            }
        });
    })
</script>
</body>

</html>
