body {
    color: #666;
}
.u-button {
    display: inline-block;
    transition: all .3s;
    -ms-transition: all .3s;
    outline: none;
}
.u-button-ldisable {
    height: 36px;
    padding: 0 20px;
    line-height: 36px;
    border-radius: 5px;
    background: #d5d5d5;
    font-size: 16px;
    text-align: center;
    color: #333;
}
.u-button-lred {
    height: 36px;
    padding: 0 20px;
    line-height: 36px;
    border-radius: 5px;
/*     border: 2px solid #fff; */
    background: #eb3a4c;
    font-size: 16px;
    text-align: center;
    color: #fff;
    border: none;
}
.u-button-lred:hover {
    background: #f0485d;
    /* border-color: #eb3a4c; */
}
.m-header-inner .sub {
    display: inline-block;
    margin: 14px 0 0 10px;
    line-height: 22px;
    vertical-align: top;
    font-size: 16px;
    font-weight: bold;
    color: #da2325;
}
.c-normal {
    color: #666;
}
.c-dark {
    color: #333;
}
.c-pale {
    color: #999;
}
.c-highlight {
    color: #da2325;
}
.placeholder {
    color: #999;
}
.checkbox {
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
}
.required {
    padding-left: 20px;
    color: #da2325;
}
.through {
    text-decoration: line-through;
}
.order-section {
    padding: 20px 60px;
    margin-bottom: 10px;
}
.order-section-title {
    padding-bottom: 10px;
    line-height: 24px;
    font-size: 16px;
    color: #d22425;
    font-weight: bold;
}
.order-section-title .icon {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 18px;
    height: 18px;
    margin: -3px 5px 0 0;
    vertical-align: middle;
    background-image: url(../images/icon-sprite-order.png);
    background-repeat: no-repeat;
}
.order-section-title .icon.icon-info {
    background-position: 0 0;
}
.order-section-title .icon.icon-email {
    background-position: -18px 0;
}
.order-section-title .icon.icon-card {
    background-position: -36px 0;
}
.order-section-title .icon.icon-edit {
    background-position: -54px 0;
}
.order-section .table {
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
}
.order-section .table .pale {
    background: #f7f7f7;
}
.order-section .table .u-tal {
    padding-left: 30px;
    text-align: left;
}
.order-section .table thead {
    background-color: #f3f3f3;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#eeeeee');
    background: -webkit-linear-gradient(top, #f7f7f7, #eeeeee);
    background: -moz-linear-gradient(top, #f7f7f7, #eeeeee);
    background: linear-gradient(top, #f7f7f7, #eeeeee);
}
.order-section .table tbody td {
    padding: 8px 10px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.order-section .table thead th {
    padding: 6px 10px;
    border: 1px solid #e5e5e5;
    color: #333;
}

.order-section .discount {
    padding: 15px 0 15px 10px;
}
.order-section .discount .strong {
    position: relative;
    padding: 0 0 10px 33px;
    font-size: 14px;
    line-height: 20px;
}

.order-section .discount .strong .icon {
    position: absolute;
    left: -26px;
    top: 1px;
    width: 49px;
    height: 39px;
    background: url(../images/h.png) no-repeat 0 0;
}
.order-section .discount .zindex {
    position: relative;
    z-index: 9;
}

.order-form {
    padding-bottom: 50px;
}
.order-form .item {
    position: relative;
    margin-bottom: 10px;
}
.order-form .item .placeholder {
    position: absolute;
    top: 14px;
    left: 10px;
    z-index: 9999999;
}
.order-form .input {
    width: 312px;
    height: 22px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.order-form .text {
    padding-top: 10px;
    font-size: 14px;
}
.order-form-button .u-button {
    width: 170px;
    margin: 47px 0 0 40px;
}

/* 支付页面 */
.order-section.paytype {
    padding-bottom: 36px;
}
.order-info {
    padding: 15px 20px;
    line-height: 22px;
    border: 1px solid #e5e5e5;
    /* font-size: 14px; */
}
.order-info .email-block {
    position: relative;
}
.order-info .email-input {
    padding: 3px 5px;
}
.order-info .opera {
    display: inline-block;
    margin-left: 5px;
}

.pay-tabs-hd {
    border-bottom: 1px solid #e5e5e5;
}
.pay-tabs-trigger {
    float: left;
    height: 36px;
    padding: 0 34px;
    margin-right: 10px;
    margin-bottom: -1px;
    line-height: 36px;
    border: 1px solid #e5e5e5;
    color: #333;
    background: #f1f1f1;
    font-size: 14px;
    cursor: pointer;
}
.pay-tabs-trigger.active {
    border-top-color: #d42627;
    border-bottom-color: #fff;
    background: #fff;
}
.pay-tabs-content {
    min-height: 192px;
    padding: 25px;
    border: 1px solid #e5e5e5;
    border-top: none;
}
.pay-tabs-panel {
    display: none;
}
.pay-type-item {
    float: left;
    width: 144px;
    height: 34px;
    padding: 2px;
    margin-right: 20px;
    margin-bottom: 18px;
    border: 1px solid #e5e5e5;
    background: #fafafa;
    cursor: pointer;
    border-radius: 3px;
}
.pay-type-item img {
    width: 144px;
    height: 34px;
}
.pay-type-item.active {
    border-color: #d22425;
    background: #fff;
}
.pay-type-item:hover {
    border-color: #ea6d7f;
    background: #fff;
}

.pay-type-other {
    float: left;
    width: 144px;
    height: 26px;
    padding: 2px;
    padding-top: 12px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.pay .u-button {
    width: 170px;
}
.platform-panel.alipay {
    padding-top: 25px;
}
.platform-panel.alipay .u-button {
    margin-bottom: 30px;
}
.platform-panel.weixin {
    padding-top: 10px;
}
.platform-panel.weixin .qr-wrap {
    /* width: 230px; */
    /* height: 500px; */
    /* margin: 0 0 45px 45px; */
    text-align: center;
    padding-bottom: 20px;
}
.platform-panel.weixin .qr-wrap .pale {
    padding-top: 8px;
    font-size: 12px;
    line-height: 16px;
    color: #8c8d8f;
}
.platform-panel.weixin .qr-img {
    float: left;
    width: 190px;
    height: 190px;
    padding: 15px 30px 30px 50px;
    margin-right: -80px;
    border-radius: 5px;
    /* border: 1px solid #e5e5e5; */
}
.platform-panel.weixin .tips-box {
    height: 30px;
    padding: 6px 2px 9px 60px;
    background: url(/assets/gateway/images/icon-red.png) 10px 5px no-repeat #ff7674;
    background-size: 35px;
    margin: 8px 3px 8px 3px;
}
.platform-panel.weixin .tips-box p {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    font-weight: 700;
}
.platform-panel.weixin .qr-img img {
    width: 190px;
    height: 190px;
}
.platform-panel.weixin .qr-img-phone img {
    padding-right: 300px;
    width: 215px;
}
.platform-panel.kuaijie {
    padding-top: 25px;
}
.platform-panel.kuaijie .order-form {
    padding-bottom: 45px;
}
.platform-panel.kuaijie .u-button {
    margin-bottom: 45px;
}
.pay-type-bank {
    width: 830px;
    margin: 0 0 20px 35px;
    overflow: hidden;
}
.pay-type-list {
    width: 105%;
}
.pay-type-bank-ft {
    padding-bottom: 45px;
    text-align: center;
}
.pay-type-mob .mob-selector {
    padding-bottom: 5px;
    border-bottom: 1px dashed #e5e5e5;
    overflow: hidden;
}
.pay-type-mob .mob-selector-inner {
    width: 320px;
    margin: 0 auto;
}
.pay-type-mob .mob-desc {
    padding: 20px 134px 0 134px;
}
.pay-type-mob .mob-selector .pay-type-list {
    width: 344px;
}
.pay-type-mob-ft {
    padding: 45px 0;
    text-align: center;
}
.platform-panel {
    display: none;
    font-size: 14px;
}
.platform-panel .desc {
    padding-bottom: 45px;
    line-height: 20px;
    color: #8c8d8f;
}
.platform-panel .strong {
    font-size: 14px;
    color: #333;
}
.pay-bank-dialog .pay-type-list {
    width: 540px;
}
.pay-bank-dialog .u-button {
    margin: 20px auto;
}
.pay-result-dialog {
    width: 440px;
    font-size: 14px;
}
.pay-result-dialog .btns {
    padding: 20px 0 30px;
    text-align: center;
}
.pay-result-dialog .btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 170px;
    height: 36px;
    margin: 0 10px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
}
.pay-result-dialog .success {
    background: #d22425;
}
.pay-result-dialog .success:hover {
    background: #f16372;
}
.pay-result-dialog .failed {
    background: #b8b8b8;
}
.pay-result-dialog .failed:hover {
    background: #ccc;
}


.order .m-footer,
.order .m-footer a,
.pay .m-footer,
.pay .m-footer a {
    color: #AFAFB1;
}
.order .m-footer a:hover,
.pay .m-footer a:hover {
    color: #666;
}
