﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/book/mobile/', filename='css/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('/assets/gateway/book/mobile/', filename='css/quickab.css') }}">
    <script src="{{ url_for('/assets/gateway/book/mobile/', filename='js/jquery.min.js') }}"></script>
    <title>迷上我</title>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5JLLRN" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5JLLRN');</script>
    <!-- End Google Tag Manager -->
</head>

<body class="quick">
    <div class="page">
        <header class="ui-header">
            <h1 class="msw">《强推—推进关系》</h1>
            <p class="sm">7天无理由退款</p>
        </header>
        <div class="main">
            <div class="content-padded">
                <form action="/gateway/api/pay/mobile/before_redirect" id="J_form_quick" class="form" method='POST'>
                    <div class="quick-section">
                        <h3 class="title">输入邮箱下载课程</h3>
                        <input type="text" class="input" name="email" id="J_mail_origin" placeholder="输入邮箱地址">
                        <input type="text" class="input" name="email_confirm" id="J_mail_confirm" placeholder="再次确认邮箱">
                        <input type="hidden" name="product_name" value="qiangtui" >
                        <p class="text">课程App下载链接会发送到该邮箱</p>
                    </div>
                    <div class="quick-section" id="J_form_plans">
                        <h3 class="title">您的课程</h3>
                        <h4 class="newt"><em><del>￥120</del> ￥50</em>《强推—推进关系》音频课程 (6期) </h4>
                        <dl class="csel">
                            <dt><label><input type="checkbox" name="extra_product" value='1' checked="checked" id="discount"> + 39元</label>获得以下课程（节省￥21）</dt>
                            <dd>
                                <p><del>￥60</del><em>●</em>《高手支招—吸引学最前沿》有声课程 (3个月)</p>
                            </dd>
                        </dl>
                    </div>
                    <button class="submit ui-btn-lg ui-btn-danger disabled" id="J_submitbtn">点击获取教程</button>
                    <p class="failed" id="J_form_quick_failed"></p>
                </form>
            </div>
        </div>
    </div>

    <script>
        $(function(){

            var mainOriginEl = $('#J_mail_origin'),
                mailConfirmEl = $('#J_mail_confirm'),
                formFailedEl = $('#J_form_quick_failed'),
                submitBtn = $('#J_submitbtn');

            function isMail(value){
                return /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test(value);
            };

            function isEmpty(value){
                return $.trim(value) === '';
            }

            function validMail(originValue, confirmVal){
                var error = [];
                isEmpty(originValue) && error.push('请输入邮箱');
                !isMail(originValue) && error.push('邮箱格式不正确');
                isEmpty(confirmVal) && error.push('请再次确认邮箱');
                (confirmVal !== originValue) && error.push('前后两次输入不一致');

                return error;
            }
            var discountTable = $('.csel dd');
            $('#discount').on('change', function(){
                $(this).is(':checked') ?
                    discountTable.show() :
                    discountTable.hide();
            });

            $('#J_form_plans').delegate('div.radio-item', 'click', function(){
                var $this = $(this);

                if($this.hasClass('active')) return false;

                $this.addClass('active')
                    .siblings().removeClass('active');

                $this.find('input[type="radio"]').prop('checked', true);
            });

            $('#J_mail_origin,#J_mail_confirm').on('focus', function(){
                formFailedEl.text('');
            }).on('input', function(){
                var originVal = mainOriginEl.val(),
                    confirmVal = mailConfirmEl.val();

                var error = validMail(originVal, confirmVal);

                if(error.length){
                    submitBtn.addClass('disabled');
                }else{
                    submitBtn.removeClass('disabled');
                }
            });

            $('#J_form_quick').on('submit', function(){
                var originVal = mainOriginEl.val(),
                    confirmVal = mailConfirmEl.val();

                var error = validMail(originVal, confirmVal);


                if(error.length){
                    formFailedEl.text(error[0]);
                    return false;
                }else{
                    formFailedEl.text('');
                }
            });

            function checkMail() {
                var originVal = mainOriginEl.val(),
                    confirmVal = mailConfirmEl.val();

                var error = validMail(originVal, confirmVal);

                if(error.length){
                    submitBtn.addClass('disabled');
                }else{
                    submitBtn.removeClass('disabled');
                }
            };
            checkMail();
        })
    </script>
</body>

</html>
