.simple .failedhtml,body,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ol,ul,li,form,table,tr,th,td {margin:0;padding:0}
body,input,textarea,select{font:12px/1.5 "Microsoft Yahei",Arial,Tahoma,Helvetica,Geneva,sans-serif; color:#000; -webkit-font-size-adjust: none; }
h1,h2,h3,h4,h5,h6 {font-size: 12px;}
h6 {font-weight: normal;}
input, textarea, select, button {font-size:12px;font-weight:normal;font-family:inherit}
input[type="button"],input[type="submit"],select,button {cursor:pointer}
table {border-collapse:collapse;border-spacing:0;width:100%;}
em,i {font-style: normal;font-weight: normal}
ul{list-style:none;}
img {border:none;vertical-align:middle;-ms-interpolation-mode:bicubic;}
input,textarea,select{resize:none;}
a{text-decoration:none; outline:none; blr:expression(this.onFocus=this.blur()); color:#858587; cursor:pointer}
a:hover{ text-decoration:none; color:#c00;}

body {
    background: #f1f1f1;
    color: #858587;
}

.u-dib {
    display: inline-block;
    *display: inline;
    zoom: 1; 
}
.u-hide {
    display: none;
}

.u-cf:before,
.u-cf:after {
    content:"";
    display:table;
    clear:both;
}
.u-cf{
    *zoom:1;
}

.u-fl {
    float: left;
}
.u-fr {
    float: right;
}

.u-pt10 {
    padding-top: 10px;
}
.u-pt20 {
    padding-top: 20px;
}
.u-pt40 {
    padding-top: 40px;
}
.u-tac {
    text-align: center;
}
.u-tal {
    text-align: left;
}
.u-container {
    width: 1070px;
    margin-left: auto;
    margin-right: auto;
}

.u-panel {
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.u-dl-horizon {
    margin: 0;
    padding-bottom: 8px;
    font-size: 16px;
}
.u-dl-horizon .dt,
.u-dl-horizon .dd {
    display: inline-block;
    *display:inline;
    *zoom:1;
    *display: inline;
    *zoom: 1;
}
.u-dl-horizon .dt {
    width: 100px;
    text-align: right;
    font-size: 14px;
    color: #999;
}
.u-dl-horizon .dd {
    margin-left: 10px;
}
.u-dl-horizon .label {
    margin-right: 10px;
}
.u-dl-horizon .input {
    width: 220px;
    height: 22px;
    padding: 5px;
    border: 1px solid #ddd; 
}
.u-button {
    display: inline-block;
    transition: all .3s;
    -ms-transition: all .3s;
    outline: none;
}
.u-button-ldisable {
    height: 36px;
    padding: 0 20px;
    line-height: 36px;
    border-radius: 5px;
    background: #d5d5d5;
    font-size: 16px;
    text-align: center;
    color: #333; 
}
.u-button-lred {
    height: 36px;
    padding: 0 20px;
    line-height: 36px;
    border-radius: 5px;
/*     border: 2px solid #fff; */
    background: #eb3a4c;
    font-size: 16px;
    text-align: center;
    color: #fff;
    border: none;
}
.u-button-lred:hover {
    background: #f16372;
    /* border-color: #eb3a4c; */
}
.m-header {
    height: 48px;
    border-bottom: 1px solid #d9d9d9;
    box-shadow: 1px 0 0 rgba(0, 0, 0, .3);
    background: #fff;
}
.m-header .logo {
    float: left;
    width: 90px;
    height: 48px;
}
.m-header .logo a,
.m-header .menu-item a {
    display: block;
    width: 100%;
    height: 100%;
}
.m-header .menu {
    float: right;
}
.m-header .menu-item {
    position: relative;
    float: left;
    width: 56px;
    height: 48px;
    border-left: 2px solid #eaeaea;
}
.m-header .menu-item .dropbox {
    display: none;
    position: absolute;
    top: 59px;
    z-index: 9;
    width: 70px;
    overflow: hidden;
    /*background: #fff; */
}
.m-header .menu-item.active .dropbox {
    display: block;
}
.m-header .menu-item.weixin .dropbox {
    /* left: -5px; */
    left: 44px;
}
.m-header .menu-item.weibo .dropbox {
    right: 0;
}
.m-header .menu-item .dropbox img {
    width: 70px;
    height: 90px;
}
.m-header .menu-item .dropbox span {
    padding-bottom: 22px;
    font-size: 14px;
    vertical-align: bottom;
}
.m-header .menu-item .icon {
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
}
.m-header .menu-item.home .icon {
    background-position: 0 0;
}
.m-header .menu-item.home:hover .icon {
    background-position: 0 -48px;
}
.m-header .menu-item.weixin .icon {
    background-position: -48px 0;
}
.m-header .menu-item.weixin:hover .icon {
    background-position: -48px -48px;
}
.m-header .menu-item.weibo .icon {
    background-position: -96px 0;
}
.m-header .menu-item.weibox:hover .icon {
    background-position: -96px -48px;
}

.m-footer {
    padding: 40px 0;
}

.m-footer-inner {
    text-align: center;
}

.m-footer-nav {
    padding-bottom: 10px;
}
.m-footer-nav a {
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 5px 8px;
    vertical-align: middle;
    font-weight: bold;
}

.simple.ui-dialog {
    border-radius: 0;
    box-shadow: none;
    border: none;
}
.simple .ui-dialog-body {
    padding-top: 0;
}
.simple .ui-dialog-header {
    height: 26px;
    border: 0;
}
.simple .ui-dialog-title {
    padding-bottom: 0;
    padding-top: 5px;
}
.simple .ui-dialog-close {
    top: 7px;
    padding: 4px;
    font-size: 12px;
    color: #333;
    opacity: 1;
    z-index: 9;
}
.simple .failed {
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color: #d62a26;
    text-align: center;
}