.yuyue {
	color: #666;
}
.yuyue .main {
	width: 656px;
}
.yuyue .side {
	position: relative;
	width: 404px;
}
.yuyue .video-wrap {
	height: 536px;
}
.player {
	width: 656px;
    margin-left: auto;
    margin-right: auto;
}
.player .mejs-controls {
    display: none;
    visibility: hidden;
}
.higlight {
	color: #b80f12;
}
.through {
	text-decoration: line-through;
}
.techs {
	height: 506px;
	padding: 15px 26px;
	overflow: hidden;
}
.techs-hd {
	padding: 0 8px;
	border-bottom: 1px solid #e7e3e4;
}
.techs-hd .title {
	padding: 0 5px 10px 5px;
	line-height: 36px;
	font-size: 19px;
	color: #b80f12;
}
.techs-hd .title strong {
	margin-left: -7px;
}
.techs-bd {
	padding: 10px 5px 0 5px;
	font-size: 13px;
	overflow: hidden;
}
.techs-bd .text-top {
	padding: 0 8px 5px 8px;
	line-height: 24px;
	font-size: 15px;
}
.techs-bd .price {
	padding: 0 8px;
	margin-bottom: 8px;
	line-height: 22px;
}
.techs-bd .price .higlight {
	padding-left: 20px;
}
.techs-bd .cover {
	display: block;
	width: 300px;
	height: 126px;
	margin: 0 auto 10px;
}
.techs-bd .u-button {
	display: block;
	height: 46px;
	margin-bottom: 18px;
	line-height: 46px;
}
.techs-bd .u-button:hover {
	color: #fff;
}
.techs-list {
	padding: 0 8px 10px 8px;
}
.techs-list li {
	line-height: 22px;
}
.rightlink {
	width: 374px;
    height: 35px;
}
.rightlink li {
    float: left;
    padding-left: 30px;
    background: url(../images/icon1.png) no-repeat left center;
    color: #313030;
    margin-right: 10px;
    height: 27px;
    line-height: 27px;
    font-size: 12px;
}
.rightlink li.s2 {
    background-image: url(../images/icon2.png);
}
.rightlink li.s3 {
    background-image: url(../images/icon3.png);
}
.rightlink li a {
    color: #c6c6c6;
}
.rightlink li a:hover {
	color: red;
}
.video-wrap .title {
	padding: 10px;
	font-size: 24px;
	font-weight: normal;
	color: #333;
	line-height: 42px;
}
.video-wrap .desc {
	padding: 28px 10px;
	line-height: 24px;
	font-size: 14px;
}
.readers {
	margin-top: 10px;
}
.readers-wrap {
	padding: 10px 0 20px 20px;
}
.readers-item {
	float: left;
	width: 314px;
	margin-right: 20px;
}

.readers-item .readers-hd {
	border-bottom: 1px solid #ddd;
}
.readers-item .readers-hd .title,
.readers-item .readers-hd .title .icon {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
.readers-item .readers-hd .title {
	margin-bottom: -1px;
	padding-right: 5px;
	line-height: 32px;
	font-size: 14px;
	color: #333;
	border-bottom: 4px solid #d42424;
}
.readers-item .readers-hd .title .icon {
	width: 18px;
	height: 18px;
	margin-right: 5px;
	margin-top: 7px;
	vertical-align: top;
	background-image: url('../images/icon-sprite-yy.png');
	background-repeat: no-repeat;
}

.readers-item .readers-bd {
	padding: 15px;
}
.readers-item.section .list {
	list-style: disc;
}
.readers-item.section .list li {
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 28px;
}

.readers-item.audition {
	width: 300px;
}
.readers-item.letter {
	width: 370px;
}
.readers-item.audition .audio {
	padding-bottom: 10px;
}
.section .title .icon {
	background-position: 0 0;
}
.audition .title .icon {
	background-position: -18px 0;
}
.letter .title .icon {
	background-position: -36px 0;
}
.letter {
	line-height: 1.6;
}
.letter .bd {
	padding: 5px 0;
	text-indent: 24px;
}
.letter .ft {
	padding-bottom: 5px;
	text-align: right;
}
.letter .strong {
	padding-bottom: 5px;
	font-size: 14px;
	font-weight: bold;
	color: #333;
}

.audition .list {
	padding: 10px 0 0 0;
}

.intros {
	padding: 0 40px 40px;
	font-size: 14px;
}

.intros-section {
	padding-top: 40px;
}
.intros-section ul {
	list-style: disc;
}
.intros-section li {
	padding-bottom: 20px;
}
.intros-section .title {
	padding-bottom: 30px;
	font-size: 26px;
	color: #b80f12;
	text-align: center;
}

.intros-section p {
	text-indent: 24px;
	padding-bottom: 20px;
}

.headline {
	color: #B30A0A;
    font-weight: bold;
    line-height: 30px;
    font-size: 24px;
}

.fixedbar.techs {
	position: absolute;
	top: 0;
	width: 352px;
}
.fixedbar.techs.fixed {
	position: fixed;
}

.audio .mejs-container {
	background: none;
}
.audio .mejs-time-current {
	background: #fff!important;
}
.audio .mejs-container .mejs-controls {
	border-radius: 3px;
	background: rgba(0,0,0,.3);
}
.audio .mejs-container .mejs-controls div {
	/* margin-left: 12px; */
}
.audio .mejs-controls .mejs-time-rail .mejs-time-total {
	background: rgba(50,50,50,.3);
}
.audio .mejs-controls .mejs-time-rail .mejs-time-loaded {
	background: rgba(0,0,0,.2)
}