body {
  margin:0 auto;
}

.header {
  clear: both;
  height: 7%;
  max-height: 40px;
  background-color: #ffffff;
}

.header img {
  height: 95%;
  padding-left: 5%;
}

.container {
  background-color: #f1f1f1;
  height: 89%;
  padding: 1%;
}

.line {
  margin: 0 auto;
  color: #cecece;
  border: solid 1px;
}

.main {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  background-color: #ffffff;
  border: 1px solid;
  border-color:#cecece;
}

.section_header {
  padding-top: 2%;
  padding-left: 5%;
}

.section_body{
  padding-top: 5%;
  padding-bottom: 5%;
  text-align:center;
}

.d_android {
  padding-right: 5%;
}

.d_ios {
  padding-left: 5%;
}

.font_one {
  font-family: 微软雅黑;
  font-size: 1.0em;
  margin: 0 auto;
}

.font_two {
  font-family: 微软雅黑;
  font-size: 0.8em;
  margin: 0 auto;
}
