.failed {
    color: #f00;
    text-align: center;
}
.quick .main {
    padding-bottom: 50px;
}
.quick .content-padded {
    padding: 0 10px 10px 10px;
}
.quick .form .failed {
    padding-top: 10px;
}
.quick .form .input {
    border-color: #ddd;
}
.quick .form .input:focus {
    border-color: #da0032;
}
.quick .ui-header {
    height: 70px;
    padding-top: 5px;
}
.quick .ui-header .msw {
    padding-top: 8px;
    line-height: 28px;
    font-size: 22px;
    text-align: left;
    color: #da0032;
}
.quick .ui-header .sm {
    padding-left: 12px;
    line-height: 16px;
    font-size: 14px;
    color: #cdced0;
}
.quick-section {
    margin-bottom: 20px;
}
.quick-section ~ .submit.ui-btn-danger {
    margin-top: -10px;
}
.quick-section .title {
    position: relative;
    padding: 0 0 10px 20px;
    font-size: 18px;
    color: #505050;
}
.quick-section .title::before {
    position: absolute;
    left: 1px;
    top: 5px;
    content: " ";
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 8px solid #ed4b49;
    border-bottom: 8px solid transparent;
}
.quick-section .text {
    color: #777;
    font-size: 14px;
}
.quick-section .radio-item {
    position: relative;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;
    width: 48%;
    float: left;
    margin-right: 3.999%;
    min-height: 185px;
}
.boxsection .radio-item {min-height: auto;}
.quick-section .radio-item:last-child { margin-right: 0;}
.quick-section .radio-item.active {
    border-color: #da0032;
}
.quick-section .radio-item.active::after {
    position: absolute;
    top: 0;
    right: 0;
    content: " ";
    width: 18px;
    height: 18px;
    background: url('../images/icon-checked-tr.png') 0 0 no-repeat;
    background-size: 18px;
}
.quick-section .radio-item .radio {
    visibility: hidden;
    display: none;

}
.quick-section .radio-item .pic img { width: 100%;}
.quick-section .radio-item .name {
    text-align: center;
    font-weight: normal;
    color: #505050;
    font-size: .8em;
}
.quick-section .radio-item p { text-align: center;}
.quick-section .radio-item p del { font-size: .9em;}
.quick-section .radio-item .price {
    font-size: 18px;
    color: #ef4b4a;
    line-height: 18px;
}
h4.newt { color: #515151; margin-bottom: 5px;}
h4.newt em { float: right; color: #515151;}
h4.newt em del { font-size: .9em; color: #787878; }
dl.csel { margin-bottom: 18px; line-height: 1.8;}
dl.csel dt { color: #ec4d49; margin-bottom: 2px;}
dl.csel dd p { color: #787878; font-size: .9em;}
dl.csel dd p del { float: right;}
dl.csel dd p em { margin-right: 8px; color: #ee4a48;}
@media screen and (max-width: 320px) {
    .quick-section .radio-item .name{
        font-size: .6em;
    }
    h4.newt { font-size: .8em;}
    dl.csel { font-size: .85em;}
}
@media screen and (max-width: 376px) {
    .quick-section .radio-item .name{
        font-size: .7em;
    }
}

@media (device-height:480px) and (-webkit-min-device-pixel-ratio:1.5){ 
    .quick .ui-header {
        height: 56px;
    }
    .quick .ui-header .msw {
        padding-top: 0;
        font-size: 20px;
    }
    .quick-section {
        margin-bottom: 10px;
    }
    .quick-section .title {
        padding-bottom: 5px;
        padding-left: 13px;
        font-size: 16px;
    }
    .quick-section .title::before {
        border-top-width: 6px;
        border-left-width: 6px;
        border-bottom-width: 6px;
    }
    .quick-section ~ .submit.ui-btn-danger {
        margin-top: -5px;
    }
    .form{
        padding-top: 0;
    }    
    .form .input {
        height: 34px;
    }
    .ui-btn-lg {
        height: 34px;
        line-height: 34px;
    }
    ::-webkit-input-placeholder {
        font-size:12px;
    }
}