html,body,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ol,ul,li,form,table,tr,th,td {margin:0;padding:0}
body,input,textarea,select{font:12px/1.5 "Microsoft Yahei",Arial,Tahoma,Helvetica,Geneva,sans-serif; color:#000; -webkit-font-size-adjust: none; }
h1,h2,h3,h4,h5,h6 {font-size: 12px;}
h6 {font-weight: normal;}
input, textarea, select, button {font-size:12px;font-weight:normal;font-family:inherit}
input[type="button"],input[type="submit"],select,button {cursor:pointer}
table {border-collapse:collapse;border-spacing:0;width:100%;}
em,i {font-style: normal;font-weight: normal}
ul{list-style:none;}
img {border:none;vertical-align:middle;-ms-interpolation-mode:bicubic;}
input,textarea,select{resize:none;}
.cl:before,.cl:after{content:"";display:table;clear:both;}
.cl{*zoom:1;}
a{text-decoration:none; outline:none; blr:expression(this.onFocus=this.blur()); color:#313030; cursor:pointer}
a:hover{ text-decoration:none; color:#c00;}
.fr {float: right;}.fl { float: left;}
.cred {color: #a80910;}
body { background-color: #f1f1f1;}
#header { background:#fff url(../images/mtopbg.png) repeat-x left bottom; height: 61px;}
#top { width: 1100px; margin: auto;}
#top #logo { width: 94px; padding-top: 14px; float: left;}
.paytitle { float: left; padding: 14px; font-size: 21px; color: #d52627;}
.rlink {float: right;}
.rlink li { float: left; border-left: 2px solid #eaeaea; height: 58px; position: relative;}
.rlink li a { display: block; width: 55px; height: 58px; text-indent: -9999px; overflow: hidden; background: url(../images/ticon1.png) no-repeat center;}
.rlink li a.link2 { background-image: url(../images/ticon2.png);}
.rlink li a.link3 { background-image: url(../images/ticon3.png);}
.rlink li .sewm { position: absolute; right: -30px; top: 100%; padding-top: 10px; width: 170px; display: none;}

.rlink li .sewm h5 { padding: 5px 0; font-size: 14px; font-weight: normal; float: left; width: 80px; margin-top: 30px; color: #666;}
.rlink li:hover .sewm { display: block;} 
#main { width: 1070px; margin: auto; padding: 8px 0 20px;}
.mleft { float: left; width: 630px;}
.video { margin-bottom: 10px; background-color: #000;}
.video h2 { height: 45px; line-height: 45px; padding-left: 14px; overflow: hidden; color: #fff; font-size: 20px; font-weight: normal;}
.artbox { background-color: #fff; box-shadow: 1px 1px 2px #eaeaea,-1px -1px 2px #eaeaea; padding: 20px;}
.artbox h2 { font-weight: normal; font-size: 20px; color: #E21019;}
.artcon { padding: 20px 0;}
.artcon p { margin-bottom: 20px; color: #5d5d5d;}
.leftorder { padding: 0 10px;}
.leftorder .leftpic { float: left; width: 150px;}
.leftorder .leftinfo {float: right; width: 375px;}
.leftorder .leftinfo h5 { font-size: 14px; color: #2c2c2c;}
.leftorder .leftinfo ul { padding-left: 20px;}
.leftorder .leftinfo ul li { padding-left: 13px; background: url(../images/dot.png) no-repeat 0 center; color: #747474;}
.leftop { border-top: 1px solid #e7e7e7; padding: 20px 15px; margin-top: 15px;}
.leftop h6 { color: #eb3a4b;}
.leftop p { padding: 8px;}
.leftop .buybtn1 { display: block; width: 135px; height: 30px; text-indent: -9999px; overflow: hidden; background: url(../images/buybtn1.png) no-repeat;}
.leftop .buybtn1:hover { opacity: .85;filter: alpha(opacity=85);}
.mright	{ float: right; width: 430px;}
.rightbox { margin-bottom: 10px; background-color: #fff; box-shadow: 1px 1px 2px #eaeaea,-1px -1px 2px #eaeaea; padding: 22px;}
.rightpro {}
.rightpropic { float: left; width: 226px;}
.rightproinfo { float: right;width: 130px; padding-top: 30px;}
.rightproinfo li { margin-top: 12px; color: #1d1d1d;}
.rightproinfo li h5 { font-size: 14px; color: #df3840;}
.rightop { text-align: center; padding: 25px;}
.rightlink { height: 35px;}
.rightlink li { float: left; padding-left: 30px; background: url(../images/icon1.png) no-repeat left center; color: #313030; margin-right: 17px; height: 27px; line-height: 27px; font-size: 10px;}
.rightlink li a { color: #c6c6c6;}
.rightlink li a:hover { color: #c00;}
.rightlink li.s2 { background-image: url(../images/icon2.png);}
.rightlink li.s3 { background-image: url(../images/icon3.png);}
.buybtn { display: block; margin: auto; background: url(../images/buybtn.png) no-repeat; width: 202px; height: 45px; text-indent: -9999px; overflow: hidden;}
.buybtn:hover { opacity: .85;filter: alpha(opacity=85);}
.yhbox { width: 390px; padding: 48px 0 0; margin: auto; background: url(../images/yh.png) no-repeat;}
.yhbox h4 { font-size: 18px; font-weight: normal; color: #838383; line-height: 24px; margin-bottom: 15px;}
.yhbox .rightproinfo { padding-top: 0;}
.rollbox { width: 350px; margin: auto; overflow: hidden;}
.videoroll .bd { height: 245px; overflow: hidden; width: 350px; margin-bottom: 15px;}
.videoroll .bd li { float: left; width: 350px; height: 245px;}
.videoroll .bd li p { height: 48px; line-height: 24px; margin-bottom: 10px; overflow: hidden; font-size: 15px; color: #858585;}
.rollbox .hd { padding-right: 10px; height: 12px;}
.rollbox .hd ul {float: right;}
.rollbox .hd ul li { float: left; margin-right: 8px; width: 8px; height: 8px; border-radius: 50%; text-indent: -9999px; overflow: hidden; background-color: #A5A5A5; cursor: pointer;}
.rollbox .hd ul li.on { background-color: #EE3F4C;}
.soundroll .bd { width: 350px; height: 270px; overflow: hidden; }
.soundroll .bd li { float: left; width: 350px; height: 270px;}
.soundroll .bd li .txt { height: 170px; overflow: hidden; color: #858585; font-size: 15px; line-height: 24px;}
.soundroll .bd li h5 { color: #000; font-size: 15px; margin-bottom: 20px; font-weight: normal;} 
.soundroll .bd li .user { height: 60px;}
.soundroll .bd li .user .avat { width: 41px; float: left; margin-right: 10px;}
.soundroll .bd li .user .avat img { border-radius: 50%; width: 41px; height: 41px;}
.soundroll .bd li .user .info { float: left; width: 280px;}
.soundroll .bd li .user .info .sound { height: 32px; overflow: hidden;}
.soundroll .bd li .user .info .time { padding-left: 75px;}
.soundroll .bd li .user .info .time span { display: inline-block; background: url(../images/gou.png) no-repeat left center; color: #858585; padding-left: 15px;}
.txtroll .bd { width: 350px; height: 420px; overflow: hidden;  color: #858585; font-size: 15px; line-height: 24px;}
.txtroll .bd li .txt { height: 385px; overflow: hidden;}
.txtroll .bd li .email {text-align: right;}
.paymain { width: 914px; margin: auto;} 
.courseinfo,.youinfo,.paytab { box-shadow: 1px 1px 2px #eaeaea,-1px -1px 2px #eaeaea; background-color: #fff; margin-bottom: 10px; padding: 20px 60px;}
.courseinfo h3 { font-size: 15px; margin-bottom: 8px;}
.courseh { position: relative;}
.courseh h5 { padding-left: 37px; margin-bottom: 8px; font-weight: normal;}
.courseh span { background-color: #f1f1f1; padding: 2px 6px; display: inline-block; font-size: 15px;}
.courseh span input { vertical-align: middle;}
.courseh span.selected { background-color: #fc4750; color: #fff;}
.courseh .arrow { position: absolute; width: 49px; height: 39px; background: url(../images/h.png) no-repeat; left: -20px; top: 0px;}
.youinfo {}
.youinfo h2 { font-size: 15px; margin-bottom: 10px;}
.youemail li { margin-bottom: 10px; font-size: 14px; color: #7d7b7a;}
.youemail li .etxt { border: 1px solid #d1d1d1; box-shadow: inset 2px 2px 4px #ececec; width: 237px; height: 22px; padding: 5px 10px;}
.youemail li .tip { color: #ff0000; font-size: 12px;}
.paytab h2 { font-size: 15px; margin-bottom: 12px;}
.ptab .ptabt ul li { float:left;border:1px solid #ccc; margin-bottom: -1px; position: relative; height: 35px; margin-right: 10px; background-color: #f1f1f1;}
.ptab .ptabt ul li a { height:35px; line-height:35px; font-size:15px; padding: 0 25px;}
.ptab .ptabt ul li.on { border-top-color: #d52627; background-color: #fff; border-bottom-color: #fff}
.ptabcon { border: 1px solid #ccc;}
.banklistcon { padding:20px;}
ul.banklist {}
ul.banklist li { float:left; width:180px;  height:38px; margin-bottom:16px; cursor:pointer;}
ul.banklist li label {}
ul.banklist li .binput {float:left; margin-right:5px; margin-top:12px;}
ul.banklist li .banklogo { width:145px; height:36px; overflow:hidden; float:left; border:1px solid #ddd; background:url(../images/bank/banks.gif) no-repeat; }
ul.banklist li label.current .banklogo { border-color:#f60;}
ul.banklist li .ICBC { background-position:0 0px;}
ul.banklist li .BOC { background-position:0 -36px;}
ul.banklist li .ABC { background-position:0 -72px;}
ul.banklist li .CCB { background-position:0 -108px;}
ul.banklist li .BOCO { background-position:0 -144px;}
ul.banklist li .POST { background-position:0 -180px;}
ul.banklist li .CMBCHINA { background-position:0 -216px;}
ul.banklist li .SPDB { background-position:0 -252px;}
ul.banklist li .PINGANBANK { background-position:0 -288px;}
ul.banklist li .CIB { background-position:0 -324px;}
ul.banklist li .CMBC { background-position:0 -360px;}
ul.banklist li .GDB { background-position:0 -396px;}
ul.banklist li .ECITIC { background-position:0 -432px;}
ul.banklist li .CEB { background-position:0 -468px;}
ul.banklist li .HXB { background-position:0 -504px;}
ul.banklist li .SDB { background-position:0 -540px;}/*More Bank-16*/
ul.banklist li .BCCB { background-position:0 -576px;}
ul.banklist li .SHB { background-position:0 -612px;}
ul.banklist li .NJCB { background-position:0 -648px;}
ul.banklist li .HZBANK { background-position:0 -684px;}
ul.banklist li .CBHB { background-position:0 -720px;}
ul.banklist li .HKBEA { background-position:0 -756px;}
ul.banklist li .NBCB { background-position:0 -792px;}
ul.banklist li .BJRCB { background-position:0 -828px;}
ul.banklist li .CZ { background-position:0 -864px;}
ul.banklist li .SHRCB { background-position:0 -900px;}
ul.banklist li .SCCB { background-position:0 -936px;}
ul.banklist li .NCBBANK { background-position:0 -972px;}
ul.banklist li .ZJTLCB { background-position:0 -1008px;}
ul.banklist li .other label{padding:10px 35px; display:inline-block}
.zfbbox { padding:25px;}
.zfblogo { margin-bottom:25px;}
.zfblogo img,.czklogo img { vertical-align:middle;}
.zfbcon { line-height:24px; color:#8c8c8c; font-size: 14px;}
.zfbcon h6 { font-size: 14px; color: #000;}
.cblack { color: #000;}
.czkbox { padding:20px;}
.czklogo { padding:10px; text-align:center; border-bottom:1px dotted #a2a0a0;}
.czkcon { padding:15px 70px;}
.czkcon p { margin-bottom:15px; line-height:20px; color:#666;}
.opate { padding: 30px 0;}
.opate .obtn { width: 170px; height: 36px; color: #fff; border: 0 none; cursor: pointer; background-color: #eb3a4b; font-size: 15px; border-radius: 3px;}
.opate .obtn:hover { background-color: #e02436;}
.building { padding:100px; text-align:center; color:#666;}
.jqmWindow {display:none;position: fixed; top: 20%; left: 50%; padding:15px; margin-left: -293px; width:556px; border:3px solid #b5b8b7; box-shadow:0px 2px 6px #000; background-color:#fff;}
.jqmOverlay { background-color: #000; }
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;width: expression(this.parentNode.offsetWidth+'px');height: expression(this.parentNode.offsetHeight+'px');}
* html .jqmWindow { position: absolute;top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');}
.poptitle { height:24px; line-height:24px; padding-bottom:5px; border-bottom:1px solid #ccc; font-weight:bold; font-size:14px;}
.poptitle .close { float:right; color:#369; cursor:pointer; font-weight:normal; font-size:12px;}
.popcon { padding:20px 0;}
.popcon ul.banklist li { padding:0 7px;}
.csbox { margin-top:20px; color:#515050; display:none; z-index:99999;}
.csbox h3 { font-size:14px; margin-bottom:15px;}
.csbox .cscon p { margin-bottom:15px; line-height:18px;}
.csbox .cscon p em { font-family:simsun; font-size:14px; line-height:18px;}
.otherpay { font-size: 15px; padding: 25px;}
.otherpay p { margin-bottom: 15px;}
.otherpay p.fbold { font-weight: bold;}



