@media screen and (device-aspect-ratio: 2/3) {

.j_mail {
  width: 92%;
  margin-left: 4%;
  margin-bottom: 10px;
}

.mail-title {
  width: 100%;
  font-size: 1em;
  line-height: 17px;
  color: #4F4F4F;
  padding-top: 10px;
}

.head {
  padding-top: 2%;
  padding-bottom: 2%;
  width: 92%;
  margin-left: 4%;
  text-align: left;
}

.button img {
  width: 84%;
  height: 45px;
  padding: 8%;
  padding-top: 3%;
}

.mail-input.one {
  margin-top: 8px;
}

.mail-input.two {
  margin-top: 5px;
}


.j_course {
  width: 91%;
  height: 36px;
  border: 1px solid #c6c6c6;
  margin: 0 auto;
  border-radius: 3px;
  margin-bottom:5px;
}

.j_select_course{
  width: 91%;
  height: 36px;
  border: 1px solid #EF4A4A;
  margin: 0 auto;
  border-radius: 3px;
  margin-bottom:5px;
  background:url('/assets/images/touting/checked_4.png') no-repeat right top;
  background-size: 22px 22px;
}

.course-list {
  margin-top: 1%;
  text-align: center;
}

}
