.header .action {
	background-image: url(../img2/share.png);
}
.header .done {
	text-align: center;
	line-height: 88px;
	right: 0;
	left: auto;
}

.section.general {
	margin-top:-2px;
}

.general .banner {
	width: 100%;
	padding-bottom: 48.4375%;
	height: 0;
	display: block;
	position: relative;
}
.general .banner > img {
	width: 100%;
}
.general .banner .num {
	position: absolute;
	right: 0; bottom: 0; padding: 0 24px 0 20px;
	background-color: rgba(0, 0, 0, 0.2);
	color: #ccc; line-height: 54px; font-size: 26px;
}

.general .cell {
	height: 88px;
	line-height: 88px;
	display: table;
	border-top: none;
	overflow: hidden;
	width: 100%;
	border-width: 0 0 2px;
}
.general .cell.ex {
	height: 100px;
}

.general h2 {
	font-size: 30px;
	line-height: 34px;
	font-weight: normal;
	display: table-cell;
	vertical-align: middle;
	color: #000;
	padding-right: 200px;
	position: relative;
	top: 4px;
}
.general h2 img {
	width: 126px;
	height: 26px;
	margin-left: 2px;
	display: block;
}
/*.general h2:before {
	content: url(../img2/star1.png);
	position: absolute;
	left: 0;
	bottom: 0;
	width: 126px;
	height: 26px;
}
.general h2.star_1 {

}
*/
.book {
	position: absolute; right: 0; top: -2px; bottom: -2px;
	font-size: 32px; 
	padding: 0 60px 0 20px;
}
a.book {
	color: #fff;
}
.book:after {
	content: '';
	position: absolute; width: 32px; top: 2px; bottom: 0; right: 20px;
	background: transparent url(../img2/arrow.png) center center no-repeat;
}
.book .p1 {
	font-size: 28px;
}
.book .p2 {
	font-size: 48px;
	vertical-align: -2px;
}
.general .cell.ex .price {
	position: relative;
	top: -2px;
}
.book .p4 {
	position: absolute;
	font-size: 24px;
	line-height: 24px;
	bottom: 14px; left: 20px; right: 48px;
	text-align: center;
}

.feature, .contact {
	font-size: 28px;
	line-height: 84px;
}

.feature, .info h2 {
	font-weight: normal;
	font-size: 28px;
}

.feature a {
	padding-right: 64px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.feature m {
	color: #00a3e4;
}
.feature m.score {
	font-size: 120%;
}
.feature .score-x {
	font-size: 24px;
	margin-right: 10px;
	letter-spacing: 4px;
	margin-left: 6px;
}

.info {
	font-size: 28px;
}

.info .hd {
	color: #000;
	line-height: 80px;
	letter-spacing: 6px;
	font-weight: bold;
}
.info .bd {
	padding-top: 30px; 
	padding-bottom: 6px;
	text-align: justify;
}

.info .hd2 {
	color: #505050;
	background: #fff;
	margin-top: -10px;
	letter-spacing: 0;
	font-weight: normal;
	line-height: 70px;
	border-image: url(/assets/images/pay/1px_b.gif) 0 0 2;
}
.info .bd2 {
	padding-top: 20px; 
	padding-bottom: 20px;
	text-align: justify;
	padding-left: 54px;
	background: #fff url(../img2/dot.png) 30px 34px no-repeat;
}
.info a[href].bd2 {
	padding-right: 60px;
}
.info a[href].bd2:after {
	right: 30px;
}
.info .bd2.active {
	background-color: #f1f1f1;
}
.info .bd2 h3 {
	font-size: 28px;
	line-height: 28px;
	margin-bottom: 10px;
	font-weight: bold;
}
.info .bd2 h3 .d {
	color: #505050;
	font-weight: normal;
	font-size: 100%;
}
.info .bd2 .e:not(:last-of-type) {
	margin-right: 16px;
}
.info li {
	margin-bottom: 20px;
	padding-left: 24px;
	background: transparent url(../img2/dot.png) 0 14px no-repeat;
}
.info p {
	margin-bottom: 20px;
}
.info p:last-of-type {
	margin-bottom: 30px;
}
.info .pic {
	margin-top: 20px;
	margin-left: -24px;
}
.info .pic > img {
	width: 100%;
}

.info .facility li {
	padding-left: 110px;
	position: relative;
}
.info .facility .label {
	position: absolute; left: 30px;
	color: #1e1e1e;
}

/********************
 * for comments
********************/

.section.tabs {
	margin-top: 15px;
}
.section.tabs .cell {
	padding: 20px 16px;
	display: -webkit-flex;
}
.section.tabs a {
	-webkit-flex: 1;
	text-align: center;
	line-height: 36px;
	padding: 8px;
	margin: 0 6px;
	color: #00a3e4; background-color: #eff8ff;
}
.section.tabs m {
	font-size: 24px;
}
.section.tabs a.on {
	color: #fff; background-color: #00a3e4;
}

.section.tags {
	margin-top: 15px;
}
.section.tags .cell {
	padding: 14px 20px;
}
.section.tags a {
	display: inline-block;
	font-size: 28px;
	line-height: 36px;
	padding: 8px 16px;
	margin: 0 6px;
	color: #00a3e4; background-color: #eff8ff;
}
.section.tags a.on {
	color: #fff; background-color: #00a3e4;
}
.section.tabs a.active, .section.tags a.active {
	background-color: #f1f1f1;
}

.section.reviews .cell {
	padding-top: 67px;
}
.section.reviews span {
	color: #bfbfbf;
	font-size: 26px; line-height: 26px;
	position: absolute;
	top: 30px;
}
.section.reviews .author {
	left: 230px;
}
.section.reviews .date {
	right: 30px;
}
.section.reviews p {
	text-align: justify;
	padding-bottom: 20px;
	color: #000;
}

/********************
* for price compare
********************/

.section.dates {
	margin-top: -2px;
}
.section.dates .cell {
	padding: 0;
}
.section.dates b {
	font-weight: normal;
}
.section.dates .c {
	display: inline-block;
	width: 50%;
	height: 140px;
	padding: 35px 0;
	padding-left: 120px;
	position: relative;
}
.section.dates .cell:after {
	content: url(../img2/show.png);
	position: absolute;
	right: 30px;
	top: 50%;
	margin-top: -13px;
	width: 16px;
	height: 26px;
}
.section.dates span {
	color: #666;
	display: block;
}
.section.dates span.l {
	position: absolute;
	left: 30px;
	line-height: 76px;
}
.section.dates span.t {
	font-size: 24px;
}
.section.dates m {
	font-size: 32px;
	color: #00a3e4;
	display: block;
}
.section.dates:after {
	content: '';
	position: absolute;
	top: 0; bottom: 0; width: 2px; left: 50%;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAKCAYAAACe5Y9JAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAK6wAACusBgosNWgAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMjAxNC4yLjYJvq9TAAAAF0lEQVQImWN4+PDh/////zMwMUABtRgAPFgGsu/lpQwAAAAASUVORK5CYII=);
}

.section.otas span {
	line-height: 88px;
}
.section.otas .n {
	font-size: 32px;
}
.section.otas .cell-note {
	color: #ff8c01;
}
.section.otas .p {
	font-size: 44px;
}
.section.otas .c {
	font-size: 80%;
}

/********************
* for package info
********************/
.package {
	padding-top: 2px;
	padding-bottom: 2px;
}
.package .hd {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 0;
}
.package .hd h2 {
	line-height: 40px;
	height: 66px;
	font-size: 36px;
	display: inline-block;
	vertical-align: top;
	color: #363636;
}
.package .hd h2 small {
	font-weight: normal;
	color: #909090;
	display: block;
	font-size: 24px;
	padding-left: 2px;
	margin-top: -4px;
}
.package .hd .p, .package .hd .d {
	position: absolute;
	right: 176px;
	text-align: right;
	color: #ff8c01;
}
.package .hd .p {
	font-size: 44px;
	line-height: 70px;
	top: 28px;
}
.package .hd .p.rebate {
	line-height: 32px;
	top: 36px;
}
.package .hd .p.rebate span {
	display: block;
	font-size: 24px;
	margin-right: -0.5em;
}
.package .hd .p.rebate m
{
	font-size: 95%;
}
.package .bd {
	color: #606060; background-color: #f8f8f8;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 26px;
	line-height: 34px;
}
.package .bd .p {
	float: right;
	font-size: 36px;
	line-height: 44px;
	margin-right: 8px;
	color: #898989;
}
.package .bd .p2 {
	color: #909090;
}
.package .bd .em {
	font-style: normal;
	color: red;
}
.package .buy {
	position: absolute; top: 30px; right: 30px;
	padding: 0 36px;
	line-height: 68px; font-size: 30px;
}
.package .buy.out {
	padding: 0 8px 0 64px;
	text-align: right;
	font-size: 24px;
	line-height: 28px;
	padding: 6px 30px;
	text-align: center;
	background-color: #dcdcdc;
	color: #272727;
}
.package .out.active {
	background-color: transparent;
}
.package .buy.out.active {
	background-color: #d0d0d0;
}
.package p {
	padding-bottom: 30px;
}
.package dd {
	padding-left: 30px;
	background: transparent url(../img2/dot.png) 8px 14px no-repeat;
	text-align: justify;
}

/********************
* for order
********************/
.order:first-child {
	margin-top: -2px;
}
.order .cell {
	line-height: 62px;
	padding-top: 16px;
	padding-bottom: 16px;
	clear: both;
}
.order .l {
	float: left;
	color: #000;
	width: 180px;
	padding-left: 4px;
}
.order .r {
	margin-left: 190px;
	display: block;
}
.order .r input {
	border: none;
	padding-left: 0;
	height: 62px;
	width: 100%;
}
.order .p {
	color: #ff8c01;
	font-size: 32px;
}
.order .p i {
	font-size: 24px;
	margin-right: 4px;
	font-style: normal;
}
.rcount {
	display: inline-block;
	width: 262px; height: 62px;
	position: relative;
	text-align: center;
	background-image: url(../img2/count.png);
}
.rcount .add, .rcount .sub {
	position: absolute;
	font-size: 36px;
	width: 66px; height: 58px;
	left: 2px; top: 2px;
	/*background-color: rgba(255, 0, 0, 0.5);*/
	text-align: center;
	line-height: 58px;
	color: #747474;
}
.rcount .add {
	left: auto;
	right: 2px;
}
.cell.phone a {
	line-height: 64px;
	width: 100%;
	display: inline-block;
}
.cell.phone a.empty {
	color: #aaa;
}

.cell.options .r {
	background: transparent url(../img2/show.png) right center no-repeat;
	min-width: 100px;
	padding-right: 30px;
	line-height: 34px;
}
.cell.options a {
	display: block;
	padding-top: 14px; padding-bottom: 14px; 
}

.button.pay, .button.validate, .button.done {
	font-size: 36px;
	text-align: center;
	display: block;
	margin: 20px 30px;
	line-height: 90px;
	position: relative;
}
.button.validate {
	display: none;
}
.button.pay:after {
	content: '';
	position: absolute; width: 20px; top: 0; bottom: 0; right: 30px;
	background: transparent url(../img2/arrow.big.png) center center no-repeat;
}

.vcode {
	border: 2px solid transparent;
	border-image: url(../img2/box.png) 2 repeat;
	background-color: #f3f3f3;
	padding: 0 30px;
	display: inline-block;
	line-height: 58px;
}
.button.vcode {
	border-image: none;
}

.section.opts {
	margin-top: 16px;
}
.section.opts a {
	line-height: 56px;
}
.section.opts a.on:after {
	content: '';
	position: absolute;
	background: transparent url(../img2/check.png) center center no-repeat;
	top: 0;
	bottom: 0;
	right: 30px;
	width: 30px;
}
.opts-extra {
	
}
.opts-extra .hd {
	font-size: 26px;
	line-height: 2;
	color: #333;
	padding: 0 30px;
}
.opts-extra .bd textarea {
	background-color: #fff;
	box-sizing: border-box;
	width: 100%;
	border: none;
	padding: 20px 30px;
	color: #333;
	line-height: 1.4;
	height: 154px;
}

.cell.result {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 25px;
	line-height: 38px;
}
.cell.result .s {
	padding-left: 48px; margin-left: -40px;
	font-size: 36px;
	background: transparent url(../img2/smile.png) left center no-repeat;
}
.cell.result .i {
	color: #333;
	font-size: 26px;
	display: block;
}
.order .status {
	color: #00a3e4;
}

.order.tail .hd, .order.tail .hd2 {
	color: #333;
	margin-bottom: 8px;
	font-size: 28px;
}
.order.tail .hd2 {
	margin-top: 16px;
}
.order.tail .bd {
	font-size: 26px;
}
.order.tail, .order.tail .cell {
	background: transparent;
	line-height: 36px;
	padding-top: 0; padding-bottom: 0;
	border-image: none;
	border: none;
}
.order.f .l {
	color: #666;
}
.order.tail p {
	margin-bottom: 1em;
}

.payments {
	padding: 0 20px;	
}
.payments .hdr {
	font-size: 24px;
	line-height: 40px;
	padding: 22px 0;
	color: #000;
}
.payments .btn {
	border-image: url(/assets/images/pay/1px_b.gif) 2 0;
	border-width: 2px;
	display: block;
	height: 122px;
	position: relative;
	background-color: #fff;
	margin-bottom: 30px;
	padding-left: 30px;
	padding-top: 20px;
}
.payments .btn:after {
	content: ' ';
	background: transparent url(/assets/images/pay/arrow.gray.png) center center no-repeat;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 24px;
	right: 16px;
}
.payments .btn.active {
	background-color: #f1f1f1;
}
.payments .t, .payments .s {
	display: block;
}
.payments .t {
	font-size: 30px;
	line-height: 1;
	margin-bottom: 12px;
	color: #333;
}
.payments .s {
	font-size: 24px;
	line-height: 1;
	color: #bebebe;
}
.hotline {
	color: #bdbdbd;
  padding-left: 5%;
}
.hotline a {
	color: #00a3e4;
}

.hotel-price .header {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 1;
}
.hotel-price .content {
	margin-top: 248px;
}
.hotel-price .dates {
	position: fixed;
	top: 88px;
	z-index: 1;
	left: 0;
	right: 0;
}
.hotel-price.inapp .header {
	display: none;
}
.hotel-price.inapp .dates {
	top: 0;
}
.hotel-price.inapp .content {
	margin-top: 160px;
}
