* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
::selection { background: #fcd700; color: #fff; text-shadow: none; }

body { font-family: Helmet, Freesans, sans-serif; }
body { -webkit-touch-callout: none; -webkit-user-select: none; }
input, textarea { -webkit-user-select: normal; }

/* for MicroMessenger 5.3 */
body { -webkit-text-size-adjust:auto !important }

a:visited, a:active, a:link, input, textarea { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
a.active { background-color: #e0e9f0; }

html, body {
	min-height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #eee;
	width: 100%;
	overflow-x: hidden;
	color: #505050;
}
input, textarea, select {
	color: #505050;
}

a, a:link, a:hover, a:active, a:visited {
	text-decoration: none;
	color: #505050;
}

.wrapper {
	zoom: 0.5;
	font: normal 28px/38px Helmet, Freesans, sans-serif;
}

.errors {
	padding: 25px 15px;
	background-color: #fff;
}
.errors p {
	text-align: center;
}

.section {
	margin-bottom: 16px;
	background-repeat: repeat-x, repeat-x;
	background-position: left top, left bottom;
	position: relative;
}
.section.indent2:before, .section.indent2:after {
	content: '';
	left: 0; top: 2px; bottom: 2px; width: 30px; position: absolute; z-index: 1;
	background-color: #fff;
}
.section.indent2:after {
	left: auto; right: 0;
}
.cell {
	padding: 0 30px;
	position: relative;
	display: block;
	background-color: #fff;
	border-image: url(../img2/1px_tb.gif) 2 0;
	border-style: solid; border-color: #f1f1f1; border-width: 2px 0;
	margin-top: -2px;
}
.cell:first-child {
	margin-top: 0;
}
.cell.active {
	background-color: #f1f1f1;
	border-image: none;
	z-index: 2;
}
.cell.active:first-child {
	border-image: url(../img2/1px_t.gif) 2 0;
}
.cell.active:last-child {
	border-image: url(../img2/1px_b.gif) 2 0;
}
.cell.active:first-child:last-child {
	border-image: url(../img2/1px_tb.gif) 2 0;
}
.cell[href]:after, .cell.more:after {
	content: '';
	top: 0; bottom: 0; width: 16px; right: 40px; position: absolute;
	background: transparent url(../img2/show.png) center center no-repeat;
}
.indent2 .cell[href]:after, .indent2 .cell.more:after {
	right: 50px;
}
.cell-note {
	position: absolute;
	right: 64px;
}

a.button {
	color: #fff; background-color: #ff8c01;
}
a.button.active {
	background-color: #f07e00;
}

.header {
	height: 90px;
	background: #f1f1f1 url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAACCAYAAABhYU3QAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAK6wAACusBgosNWgAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMjAxNC4yLjYJvq9TAAAAHklEQVQImYXKMQEAAAwCIOxfzU4uwriJxzaQtvsyHBJjBmMFfJBCAAAAAElFTkSuQmCC) left bottom repeat-x;
	background-color: #fff;
	position: relative;
	overflow: hidden;
}
.header.none {
	display: none;
}
.header h1 {
	font-size: 40px;
	line-height: 88px;
	color: #000;
	text-align: center;
	margin: 0 100px;
	overflow: hidden;
}
.header a {
	position: absolute; left: 0; top: 0; width: 100px; height: 88px;
	background: transparent none center center no-repeat;
}
.header a.none {
	display: none;
}
.header a.home {
	background-image: url(../img2/home.png);
}
.header a.back {
	background-image: url(../img2/back.png);
}
.header a.active {
	background-color: #f1f1f1;
}

.action-sheet, .spinner {
	position: fixed; left: 0; top: 0; right: 0; bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}
.spinner {
	background-color: transparent;
}
.spinner.dark {
	background-color: rgba(0, 0, 0, 0.2);
}
.spinner a {
	position: absolute; width: 48px; height: 48px; left: 50%; top: 50%;
	margin-left: -24px; margin-top: -24px;
	background-color: #fff;
	opacity: 0.95;
	border-radius: 5px;
}
.spinner a:after {
	position: absolute;
	content: url(/assets/images/pay/spinner.gif);
	left: 50%;
	top: 50%;
	width: 32px;
	height: 32px;
	margin-left: -16px;
	margin-top: -16px;
}

.pager {
	margin: 20px 30px;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.pager a {
	background-color: #f2f8ff;
	color: #3f9aff;
	text-align: center;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	font-size: 32px; height: 74px; line-height: 74px;
}
.pager a.active {
	background-color: #f1f1f1;
}
.pager a:not(:last-child) {
	margin-right: 20px;
}
.pager .p {
	position: absolute;
}
.pager .n {
	position: absolute;
}

/* hide baidu tongji icon */
body > a {
	display: none
}
