.failed {
    color: #f00;
    text-align: center;
}
.quick .main {
    padding-bottom: 50px;
}
.quick .content-padded {
    padding: 0 10px 10px 10px;
}
.quick .form .failed {
    padding-top: 10px;
}
.quick .form .input {
    border-color: #ddd;
}
.quick .form .input:focus {
    border-color: #da0032;
}
.quick .ui-header {
    height: 70px;
    padding-top: 5px;
}
.quick .ui-header .msw {
    padding-top: 8px;
    line-height: 28px;
    font-size: 22px;
    text-align: left;
    color: #da0032;
}
.quick .ui-header .sm {
    padding-left: 12px;
    line-height: 16px;
    font-size: 14px;
    color: #cdced0;
}
.quick-section {
    margin-bottom: 20px;
}
.quick-section ~ .submit.ui-btn-danger {
    margin-top: -10px;
}
.quick-section .title {
    position: relative;
    padding: 0 0 12px 20px;
    font-size: 18px;
    color: #505050;
}
.quick-section .title::before {
    position: absolute;
    left: 1px;
    top: 5px;
    content: " ";
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 8px solid #ed4b49;
    border-bottom: 8px solid transparent;
}
.quick-section .text {
    color: #777;
    font-size: 14px;
}
.quick-section .radio-item {
    position: relative;
    height: 40px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;
}
.quick-section .radio-item:last-child {
    margin-bottom: 0;
}
.quick-section .radio-item.active {
    border-color: #da0032;
}
.quick-section .radio-item.active::after {
    position: absolute;
    top: 0;
    right: 0;
    content: " ";
    width: 18px;
    height: 18px;
    background: url('../images/icon-checked-tr.png') 0 0 no-repeat;
    background-size: 18px;
}
.quick-section .radio-item .radio {
    visibility: hidden;

}
.quick-section .radio-item .name {
    text-indent: -8px;
    font-weight: normal;
    color: #505050;
}
.quick-section .radio-item .desc {
    display: inline-block;
    color: #999;
    font-size: 12px;
    vertical-align: top;
}
.quick-section .radio-item .price {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 18px;
    color: #505050;
    line-height: 18px;
}

@media screen and (max-width: 320px) {
    .quick-section .radio-item {
        height: 46px;
        padding: 4px 5px;
    }
    .quick-section .radio-item .name,
    .quick-section .radio-item .price {
        font-size: 14px;
    }
    .quick-section .radio-item .desc {
        margin-left: -1px;
        font-size: xx-small;
    }
    .quick-section .radio-item .price {
        right: 5px;
        bottom: 11px;
    }
}
@media (device-height:480px) and (-webkit-min-device-pixel-ratio:1.5){ 
    .quick .ui-header {
        height: 56px;
    }
    .quick .ui-header .msw {
        padding-top: 0;
        font-size: 20px;
    }
    .quick-section {
        margin-bottom: 10px;
    }
    .quick-section .title {
        padding-bottom: 5px;
        padding-left: 13px;
        font-size: 16px;
    }
    .quick-section .title::before {
        border-top-width: 6px;
        border-left-width: 6px;
        border-bottom-width: 6px;
    }
    .quick-section ~ .submit.ui-btn-danger {
        margin-top: -5px;
    }
    .quick-section .radio-item {
        margin-bottom: 5px;
    }
    .form{
        padding-top: 0;
    }    
    .form .input {
        height: 34px;
    }
    .ui-btn-lg {
        height: 34px;
        line-height: 34px;
    }
    ::-webkit-input-placeholder {
        font-size:12px;
    }
}