<html>
    <head>
        <meta charset="utf-8">
        <title>购买成功</title>
        <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no,address=no,email=no" />
        <meta name="mobileOptimized" content="width" />
        <meta name="handheldFriendly" content="true" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
       <meta name="description" content="时刻偷听女人心，吸引任何女生的核心方法，多媒体实践型课程" />
       <meta name="keywords" content="时刻偷听女人心，吸引任何女生的核心方法，多媒体实践型课程" />
       <link rel="stylesheet" href="/assets/css/touting/success.css"></link>
    </head>
    <body><!--用于 mobile购买成功页面-->
    <article class="main">
        <div class="p-title">订单收据</div>
        <br>
        <div class="p-sub-title first">恭喜你获得入选成真的《{{ product_name }}》</div>
        <br>
        <div class="three">
            <div>姓名：{{ username }}</div>
            <div>手机：{{ telephone }}</div>
            <div>邮箱：{{ email }}</div>
        </div>
        <div class="text-section three">上课当天，凭您的姓名或手机号来参加课程。</div>
        <div class="text-section three"><b>时间： 2018年2月24日下午1点至6点</b> </div>
        <div class="text-section three"><b>地址： 上海市新静安区（原闸北区）灵石路891号A座207
            （云仓891南大门进来保安室边上玻璃小门，上二楼，右手第一间）</b>
        </div>
        <div class="text-section three">- 地铁7号线大华三路站（步行约20分钟，共享单车约8分钟）<br>
            - 地铁1号线马戏城站（步行约26分钟，共享单车约10分钟）<br>
            - 公交 845路 959路 165路 951路 206路 可到（步行5分钟）</div>
        <div class="text-section three"><b>注意：2月24日当天虽然是周六，但由于春节的原因，有些同学可能是要上班的。 请注意协调和安排。</b> </div>
        <div class="text-section three"><b>2月24日的上课日期无法更改。<br>请勿缺席。</b></div>
        <div class="text-section three">
        问： 我付了钱，我就是土豪，我就是牛逼，我不来行不行？<br>

        答： 如果无故缺席，会上黑名单哦。 因为课程名额非常有限。  你付费报了名，无故缺席的话，会活生生浪费一个其他哥们想来而来不了的机会。<br><br>


        问：迟到要紧吗？<br>

        答：请勿迟到。 课程会准时开始，尤其不要错过开头，开头的部分内容会不在视频录像里面，成真会和大家聊一下。<br><br>


        问：本次实地培训课程是否有视频录像？<br>

        答：有。 本次课程全程会对成真讲课进行录像（不会对学员录像）课程结束后4周左右的时间，会免费发给你《挽回她》的视频课程。

        </div>
    </article>
    <script type="text/html" id="tips_template">
    <div class="cover"><div class="tips"><img src="/assets/images/touting/tips.png" width="297" height="177" /></div></div>
    </script>
    <script type="text/javascript" src="/assets/js/touting/zepto.min.js"></script>
    <script type="text/javascript" src="/assets/js/touting/success.js?v=20160105"></script>
    </body>
</html>
