{% extends "templates/base.html" %}
{% block title %}关于我们{% endblock %}
{% block navbar %}
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">奇沃文化</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><a href="/">首页</a></li>
                <li><a href="/product">产品服务</a></li>
                <li class="active"><a href="/about">关于我们</a></li>
                <li><a href="/contact">联系我们</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->
      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->
{% endblock %}
{% block content %}
    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="page_detail">
        <h1>关于奇沃文化传播有限公司</h1>
        <p>奇沃文化传播有限公司成立于2005年，专业为客户提供包括移动APP开发，IOS开发，Android开发，Drupal开发，企业电子商务网站、网页创意设计、网站数据库编辑及全方位的网站推广等服务。满足不同企业需求，让企业在信息时代稳握无限商机。<br>
          <br>
        我们凭借多年对互联网技术的深入学习、钻研研究，对中国互联网的现状和发展趋势的把握；以及在网站建设、推广服务方面的成熟经验，已经形成了自己独到的管理方式，保证每个项目能够得以顺利完成，并能够在最大程度上保障为客户提供优质的作品，完善的售前、售后服务！</p>
      </div><!-- /.row -->
      <hr class="featurette-divider">
    </div><!-- /.container -->
{% endblock %}
