{% extends "templates/base.html" %}
{% block title %}联系我们{% endblock %}
{% block navbar %}
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">奇沃文化</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><a href="/">首页</a></li>
                <li><a href="/product">产品服务</a></li>
                <li><a href="/about">关于我们</a></li>
                <li class="active"><a href="/contact">联系我们</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->
      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->
{% endblock %}
{% block content %}
    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="page_detail">
        <h1>联系我们</h1>
        <p>
          <br />
          邮箱：tech#mishangwo.com</p>
      </div><!-- /.row -->
      <hr class="featurette-divider">
    </div><!-- /.container -->
{% endblock %}
