{% extends "templates/base.html" %}
{% block title %}首页{% endblock %}
{% block navbar %}
    <div class="navbar-wrapper navbar-wrapper-home">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">奇沃文化</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active"><a href="/">首页</a></li>
                <li><a href="/product">产品服务</a></li>
                <li><a href="/about">关于我们</a></li>
                <li><a href="/contact">联系我们</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->
      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->
{% endblock %}
{% block content %}
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="assets/images/slide-01.jpg" alt="App Store 发布">
          <div class="container">
            <div class="carousel-caption">
              <h1>App Store 发布</h1>
              <p class="lead">免费上传应用至App Store 苹果应用商店，包括ipad,iphone等手机客户端软件，审核通过，正式上线使用！并享有平台升级，APP更新上传服务。以全面、严谨的测试、质量检测，严格控制App Store审核周期。</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="assets/images/slide-02.jpg" alt="Google Play 发布">
          <div class="container">
            <div class="carousel-caption">
              <h1>Google Play 发布</h1>
              <p class="lead">免费推送安卓APP应用至国内各大主流安卓市场及安卓在线商店（Android Market）Google Play Store，帮助客户搭建APP运营平台，包括点击下载统计，APP客户端网页展示，二维码下载等安卓手机软件推广服务。</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="assets/images/slide-03.jpg" alt="我们的优势">
          <div class="container">
            <div class="carousel-caption">
              <h1>我们的优势</h1>
              <p class="lead">将用户体验放在首位,从前期的需求分析、产品原型设计、视觉设计、后期可用性测试等，提供多分辨率适配设计。以严谨的实施系统，完善的服务系统为基本保障在最短的时间内开发出稳定可靠的手机应用软件产品，引导、挖掘客户需求，实时掌握开发团队的进程与状态。</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
    <!-- Marketing messaging
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <img class="img-circle" src="assets/images/apple.png" />
          <h2>IOS 开发</h2>
          <h4>iPhone/iPad平台</h4>
          <p>基于Apple的Cocoa Touch框架，采用 MVC (Model View Controller) 的设计模式，使用Http及Socket两种主流的通讯方式,Objective-C语言开发,提供优秀的产品设计与用户体验的iphone手机应用开发,ios,ipad软件开发服务!</p>
          <a href="/product">了解详情</a>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" src="assets/images/android.png" />
          <h2>Android 开发</h2>
          <h4>安卓手机软件开发</h4>
          <p>基于android的手机和平板应用软件开发，采用mvc设架构，应用最新的技术,适配全部主流机型分辨率，有丰富的APP产品开发经验，快速开发出稳定可靠的手机应用软件产品，有效降低预算，严格控制开发周期，为您的品牌注入新的活力！</p>
          <a href="/product">了解详情</a>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" src="assets/images/drupal.png" />
          <h2>CMS 开发</h2>
          <h4>基于Drupal平台</h4>
          <p>Drupal是基于PHP的开源CMS，主要应用于网站开发与定制。国际上诸多著名企业与机构正在广泛使用Drupal，如谷歌、索尼BMG和美国白宫等。我们专注于Drupal开发与设计。</p>
          <a href="/product">了解详情</a>
        </div><!-- /.span4 -->
      </div><!-- /.row -->
      <hr class="featurette-divider">
      <!-- FOOTER -->
    </div><!-- /.container -->
{% endblock %}
{% block extra_script %}
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
{% endblock %}
