{% extends "templates/base.html" %}
{% block title %}隐私政策{% endblock %}
{% block navbar %}
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">奇沃文化</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><a href="/">首页</a></li>
                <li><a href="/product">产品服务</a></li>
                <li><a href="/about">关于我们</a></li>
                <li><a href="/contact">联系我们</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->
      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->
{% endblock %}
{% block content %}
    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="page_detail">
        <h1>隐私政策</h1>
        <p><b>上海奇沃文化传播有限公司从用户那搜集信息吗？搜集什么信息？以及我们怎样来搜集这些信息？</b></p>
        <p>上海奇沃文化传播有限公司只会通过电子邮件的方式联系我们的用户。而且，只限于希望接受这些免费邮件的用户和购买我们产品的用户。上海奇沃文化传播有限公司不会搜集用户的信息，所有信息都将是用户自愿提供。如果用户只是订阅了我们的免费两性吸引电子邮件周刊，那么上海奇沃文化传播有限公司只会搜集这些用户的电子邮件地址，以便他们每周定期收到他们想要的免费邮件周刊。当用户在网上购买我们产品时，他们会在其开通网银的银行页面直接提交信息，上海奇沃文化传播有限公司不会有权接触到这些信息。注意，上海奇沃文化传播有限公司 所有的用户信息都是用户自行提供给我们的。如果客户不提供某些信息，上海奇沃文化传播有限公司 将不会获得这些信息，因为上海奇沃文化传播有限公司反对不经过用户同意而搜集他们的信息。</p>
        <p><b>我们怎样使用这些信息呢？</b></p>
        <p>用户订阅免费吸引周刊时提供给我们的电子邮件地址只是用于上海奇沃文化传播有限公司内部的周刊发送用途，不作任何它用。上海奇沃文化传播有限公司 把这些电邮地址视为商业秘密，不出售，不交换以及专业级地保护这些电子邮件地址等用户的隐私信息不被泄露出去。</p>
        <p><b>我们怎样保留您的信息？</b></p>
        <p>您的电邮地址等信息被安全地存放在位于美国的为上海奇沃文化传播有限公司提供电子周刊邮件服务的专业服务器上。您的电邮信息只会由在上海奇沃文化传播有限公司里专门负责发送电子周刊的技术人员处理。上海奇沃文化传播有限公司的其他无关人员也不会看到您的电邮地址昵称等私密信息。</p>
        <p>所有上海奇沃文化传播有限公司发送给您的两性吸引周刊里都会有一个退订链接。你只要点击这个退订链接就可以立刻退订这份吸引周刊。你就将不再收到来自成真和上海奇沃文化传播有限公司的邮件和周刊。同样，你也可以联系wenti [at] mishangwo 点com要求退订或者改变您的任何信息。</p>
        <p><b>声明</b></p>
        <p>上海奇沃文化传播有限公司 的隐私政策可能根据上海奇沃文化传播有限公司以及国家法律和政策随时改变。如果我们会变动我们的隐私政策，我们会在这个页面公布最新的政策更新。目前的隐私政策的最后修改日期为2009年7月30日。</p>
        <p>如果您对我们的隐私政策有任何疑问和意见或建议，请写信至jasonchen.business [at] gmail 点com 。</p>
      </div><!-- /.row -->
      <hr class="featurette-divider">
      <!-- FOOTER -->
    </div>
{% endblock %}
