{% extends "templates/base.html" %}
{% block title %}产品服务{% endblock %}
{% block navbar %}
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">奇沃文化</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><a href="/">首页</a></li>
                <li class="active"><a href="/product">产品服务</a></li>
                <li><a href="/about">关于我们</a></li>
                <li><a href="/contact">联系我们</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->
      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->
{% endblock %}
{% block content %}
    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="page_detail">
        <div class="table-responsive">
          <table class="table table-bordered">
            <tr>
              <td>
                <h4>展示型移动网站</h4>
              </td>
              <td>
                <h4>数据型移动网站</h4>
              </td>
              <td>
                <h4>女人心APP模版套装（30版）</h4>
              </td>
              <td>
                <h4>女人心APP模版套装（45版）</h4>
              </td>
              <td>
                <h4>奇沃Digital Content App (DCA) 套餐</h4>
              </td>
            </tr>
            <tr>
              <td>
                少于10个页面
              </td>
              <td>
                适用于动态复杂性网站
              </td>
              <td>
                文字，音频，视频等电子内容移动端发布
              </td>
              <td>
                文字，音频，视频等电子内容移动端发布
              </td>
              <td>
                文字，音频，视频等电子内容移动端发布
              </td>
            </tr>
            <tr>
              <td>
                适用于静态展示形象
              </td>
              <td>
                Drupal后台支持的数据库
              </td>
              <td>
                奇沃版权保护工具
              </td>
              <td>
                奇沃版权保护工具
              </td>
              <td>
                奇沃版权保护工具
              </td>
            </tr>
            <tr>
              <td>
                包含IOS, Android设备
              </td>
              <td>
                包含IOS, Android平台适配
              </td>
              <td>
                IOS, Android平台App客户端
              </td>
              <td>
                IOS, Android平台App客户端
              </td>
              <td>
                IOS, Android平台App客户端
              </td>
            </tr>
            <tr>
              <td>
                微信浏览器适配
              </td>
              <td>
                微信浏览器适配
              </td>
              <td>
                1个后台管理员账号
              </td>
              <td>
                2个后台管理员账号
              </td>
              <td>
                定制Drupal数据后台
              </td>
            </tr>
            <tr>
              <td>
                5288元
              </td>
              <td>
                25288元
              </td>
              <td>
                299元/月
              </td>
              <td>
                399元/月
              </td>
              <td>
                63800元
              </td>
            </tr>
            <tr>
              <td>
                <a class="btn btn-success" href="#" onclick="order_now()">马上订购</a>
              </td>
              <td>
                <a class="btn btn-success" href="#" onclick="order_now()">马上订购</a>
              </td>
              <td>
                <a class="btn btn-success" href="#" onclick="order_now()">马上订购</a>
              </td>
              <td>
                <a class="btn btn-success" href="#" onclick="order_now()">马上订购</a>
              </td>
              <td>
                <a class="btn btn-success" href="#" onclick="order_now()">马上订购</a>
              </td>
            </tr>
          </table>
      </div>
      </div><!-- /.row -->
      <hr class="featurette-divider">
    </div><!-- /.container -->
{% endblock %}
{% block extra_style %}
    <style>
      .table td {
        text-align: center;
        padding: 15px;
      }
    </style>
{% endblock %}
{% block extra_script %}
    <script>
      function order_now() {
        alert("网络支付接入中，可先联系客服 tech#mishangwo.com(#换成@）");
      }
    </script>
{% endblock %}
