body,h1,h2,h3,h4,h5,h6,hr,p,pre,dl,dt,dd,ul,ol,li,th,td,form,fieldset,legend,button,input,textarea,figure,figcaption,nav,footer,menu {
  margin: 0;
  padding: 0
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-weight: normal
}

address,em,i,b {
  font-style: normal
}

a,a:hover {
  color: #666;
  text-decoration: none
}

ul,ol,li {
  list-style: none
}

fieldset,img {
  border: 0
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: none
}

button,input,select,textarea {
  font: 16px/1.5 Helvetica,Arial;
  outline: none
}

textarea,input {
  background: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none
}

body {
  word-wrap: break-word;
  font: 16px/1.5 Helvetica,Arial;
  color: #666;
  background: #fff
}

.clear {
  height: 0px;
  clear: both;
}

body {
  word-wrap: break-word;
  word-break: break-all;
  width: 100%;
  min-height: 320px;
  -webkit-overflow-scrolling: touch;
}

img {
  border: none;
}

body {
  width: 100%;
  background-color: #fff;
}

#page1{
  width: 92%;
  margin: 4%;
}

#page2{
  width: 92%;
  margin: 4%;
}

.head {
  padding-top: 8%;
  padding-bottom: 3%;
  width: 100%;
  text-align: left;
  margin-left: 7%;
}

.h-text {
  font-size: 1em;
  line-height: 15px;
  color: #696868;
}

.h-text em {
  color: #E04146
}

.h-text.one {
  font-size: 1.7em;
  color: #000;
  line-height: 29px;
  font-weight: bold;
}

.h-text.two {
  margin: 10px 0 4px 0;
}

.banner {
  width: 100%;
  text-align:center;
}

.banner img {
  width: 300px;
  height: 230px;
}

.course-wrap {
  width: 100%;
  position: relative;
}

.course {
  /*padding-top: 3%; */
  background-color: #fff;
}

.course-des-wrapper {
  width: 95%;
  margin: 0 auto;
  text-align:center;
}

.course-des {
  width: 95%;
  padding: 5px;
}

.course-angle {
  width: 8px;
  height: 15px;
  float: left;
  margin-top: 8px;
}

.course-angle img {
  display: block;
}

.course-text {
  width: 102px;
  float: left;
}

.course-titlte {
  font-size: 1em;
  color: #4F4F4F;
  width: 200px;
  text-align: left;
}

.course-titlte-desc {
  width: 100%;
  text-align: left;
  margin-top: 3px;
  font-size: 0.8em;
  color: #696868;
}

.course-list {
  margin-top: 3%;
  text-align: center;
}

.course-list span {
  display: inline-block;
  position: relative;
}

.course-list span:first-child {
  margin-right: 8px;
}

.select-course {
  position: absolute;
  left: 0;
  top: 0;
}

.mail {
  width: 96%;
  margin-top: 10px;
  margin-left: 2%;
  margin-right: 2%;
}

.mail-title-wrapper {
  width: 95%;
  margin: 0 auto;
}

.mail-title {
  width: 100%;
  font-size: 1em;
  line-height: 17px;
  color: #4F4F4F;
  padding-top: 20px;
}

.j_course {
  width: 45%;
}

.j_mail {
  display: block;
}

.j_course img {
  width: 100%;
}

.mail-title span {
  vertical-align: middle;
}

.mail-title img {
  vertical-align: middle;
}

.mail-input {
  width: 95%;
  height: 36px;
  border: 1px solid #c6c6c6;
  margin: 0 auto;
  border-radius: 3px;
}

.mail-input.one {
  margin-top: 13px;
}

.mail-input.two {
  margin-top: 8px;
}

.mail-input.active {
  border: 1px solid #EF4A4A;
}

.mail-input input {
  padding-left: 15px;
  font-size: 17px;
  line-height: 34px;
  color: #000;
  border: none;
  resize: none;
  width: 95%;
}

.mail-input input::-webkit-input-placeholder {
  color: #DCDCDC;
}

.mail-desc {
  width: 243px;
  margin: 0 auto;
  font-size: 0.8em;
  color: #848484;
  margin-top: 3%;
  text-align: center;
}

.button {
  width: 100%;
  height: 10%;
}

.button img {
  width: 84%;
  height: 45px;
  padding: 8%;
}

.error-tips {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #E11E1E;
  margin-top: 40px;
  height: 20px;
}
