<html>
    <head>
        <meta charset="utf-8">
        <title>购买失败</title>
        <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no"/>
        <meta name="format-detection" content="telephone=no,address=no,email=no" />
        <meta name="mobileOptimized" content="width" />
        <meta name="handheldFriendly" content="true" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
       <meta name="description" content="时刻偷听女人心，吸引任何女生的核心方法，多媒体实践型课程" />
       <meta name="keywords" content="时刻偷听女人心，吸引任何女生的核心方法，多媒体实践型课程" />
       <link rel="stylesheet" href="/assets/css/touting/success.css" />
       <link href="/assets/css/bootstrap.css" rel="stylesheet">
    </head>
    <body><!--用于 mobile购买成功页面-->
    <article class="main">
        <div class="p-title">获取订单失败</div>
        <br />
        <br />
        {% if otn %}
          <div class='p-title'><a class='btn btn-success' href="/order/pay_succeed?otn={{ otn }}">点击刷新</a></div>
        {% else %}
          <div class='p-title'>请联系管理员 app@mishangwo.com</div>
        {% endif %}
    </article>
    <script type="text/javascript" src="/assets/js/touting/zepto.min.js"></script>
    <script type="text/javascript" src="/assets/js/touting/success.js?v=123"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    </body>
</html>
