<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,maximum-scale=1,minimum-scale=1,initial-scale=1,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8"/>
    <title></title>
    <style type="text/css">
        html, body, iframe {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            border: 0 solid;
        }
    </style>
</head>
<body>
<iframe src="{{url}}"/>
<script language="javascript" src="/assets/js/pay/tocca.min.js"></script>


<div style="height: 80px"></div>

</body>
</html>
