<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>支付</title>
    <meta name="keywords" />
    <meta name="description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />

    <link href="/assets/css/pay/reset.css" rel="stylesheet"/>
    <link href="/assets/css/pay/style2.css" rel="stylesheet"/>
    <link href="/assets/css/pay/detail.css?v=20150327" rel="stylesheet"/>
</head>


<body class="">

<div class="wrapper">

<div class="content">
    <div class="payments">
        <div class="hdr" style='margin-top:4%; font-size:1.2em; font-weight: bold;'>
            请选择支付方式
        </div>

        <div style='display:none' id='sku_div'>{{ sku }}</div>
        <div style='display:none' id='email_div'>{{ email }}</div>

        <!--
        <a class="btn" href="javascript:;" onclick="create_weixin_order()">
            <span class="t" style="margin-top:25px">微信支付</span>
        </a>
        -->
        <a class="btn" href="javascript:;" onclick="create_alipay_order()">
            <span class="t" style="margin-top:25px">支付宝支付</span>
        </a>
        <!--
        <a class="btn" href="javascript:;" onclick="create_baidu_order()">
            <span class="t">银行卡支付</span>
            <span class="s">无需开通网银</span>
        </a>
        -->
        <a class="btn" href="javascript:;" onclick="create_yeepay_order()">
            <span class="t">银行卡支付</span>
            <span class="s">无需开通网银</span>
        </a>
    </div>

    <div class="hotline" style="font-size:25px">
        提示: <br />
        1, 支付完成后,请点击“完成”按钮获取课程App <br />
        2, 支付遇到问题，请联系: app@mishangwo.com
    </div
</div>

</div>

<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/pay/touchevents.js"></script>
<!--<script src="/assets/js/pay/hotel.detail.js?v=20150327"></script> -->

<script src="/assets/js/alipay_in_weixin.js"></script>
<script>
    function create_alipay_order() {
        $.ajax({
            type: "GET",
            url: "/api/order/create_alipay",
            data: {
                openid: '',
                sku: $("#sku_div").text(),
                email: $("#email_div").text(),
                test_group: 5
            },
            beforeSend: function() {show_spinner(true);},
        })
        .always(function() {show_spinner(false);})
        .done(function(data){
            if (data.success) {
                _AP.pay(data.execute_url);
            } else {
                alert(data.err_msg);
            }
        });
    }

    function create_yeepay_order() {
        $.ajax({
            type: "GET",
            url: "/api/order/create_yeepay",
            data: {
                openid: '',
                sku: $("#sku_div").text(),
                email: $("#email_div").text(),
                test_group: 5
            },
            beforeSend: function() {show_spinner(true);},
        })
        .always(function() {show_spinner(false);})
        .done(function(data){
            if (data.success) {
                window.location = data.execute_url
            } else {
                alert(data.err_msg);
            }
        });
    }


    function pay_success(res, otn) {
        window.location = ('/order/pay_succeed?otn=' + otn)
    }

    function pay_failed(res) {
        alert("支付失败，请重新尝试!");
        window.location = '/touting/index5'
    }

    function show_spinner(flag) {
        if (flag) {
            $('<div class="spinner dark"><a></a></div>').appendTo(document.body).find('a').css('opacity', 0).animate({opacity: 1}, 400);
        } else {
            $('body > div.spinner').remove();
        }
    }
</script>

</body>
</html>
