*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}
body {
    color: #858384;
    background: #f1f1f1;
}

.pt0 {
    padding-top: 0!important;
}

.page {
    width: 100%;
    max-width: 1024px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
}
.ui-header {
    position: static; 
    height: 44px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;    
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
}
.ui-btn-primary {
    background-color: #01af34;
    border: 2px solid #fff;
    border-radius: 5px;
}
.ui-btn-lg {
    line-height: 40px;
}
.ui-btn-primary:before,
.ui-btn-primary:after {
    border: none;
    border-radius: 0;
}
.ui-btn-primary:not(.disabled):not(:disabled):active,
.ui-btn-primary.active {
    background-color: #fff;
    border-color: #01af34;
    color: #01af34;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.content-padded {
    margin: 10px;
}
.icon-menu {
    width: 30px;
    height: 30px;
    background: url(../images/icon-menu.png) 3px 3px no-repeat;
    background-size: 22px;
}
.input {
    width: 100%;
    height: 40px;
    -webkit-appearance: none;
    padding: 0 15px;
    margin-bottom: 15px;
    line-height: 21px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
}
.main {
    margin-top: 3px;
    border-top: 1px solid #ededed;
    background: #fff;
}
.ui-header .icon-menu {
    float: right;
    margin-top: 8px;
}
.logo {
    float: left;
    width: 88px;
    height: 44px;
    background: url(../images/logo.png) 0 11px no-repeat;
    background-size: 86px;
    
}
.logo a {
    display: block;
    width: 100%;
    height: 100%;
}
.player {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}
.player .video {
    width: 100%;
    max-width: 640px;
    height: auto;
}
.player .video  .mejs-controls {
    display: none;
    visibility: hidden;
}
.footer {
    margin-top: 10px;
    padding-bottom: 20px;
}
.footer .nav {
    white-space: nowrap;
    text-align: center;
    padding-bottom: 20px;
}
.footer .nav a {
    display: inline-block;
    padding: 0 8px 0 3px;
    line-height: 1;
    border-right: 1px solid #7c7c7a;
    font-size: 14px;
    color: #858583;

}
.footer .nav a:last-child {
    border: 0;
}
.footer p {
    font-size: xx-small;
    line-height: 1.5;
    text-align: center;
}
.footer .contact {
    padding-bottom: 10px;
}

.starttext {
    padding: 20px 0;
    font-size: 22px;
    line-height: 1.4;
    font-weight: bold;
    color: #000;
    text-align: center;
}
.starttext em {
    color: #b00a0c;    
}
.getform .form {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
}
.form {
    padding-top: 10px;
    padding-bottom: 10px;
}
.form .input {
    height: 40px;
    margin-bottom: 10px;
}
.form .input:focus {
    border-color: #01af34;
}
.form .btn-positive {
    background-color: #01af34;
    border-color: #01af34;
}
.formmod .text-det {
    padding: 10px;
    font-size: 12px;
    color: #999;
}
.fmdl dt {
    padding: 30px 0 15px;
    text-align: center;
    font-size: 22px;
}
.fmdl dd {
    position: relative;
    height: 48px;
}
.fmdl .texts {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.fmdl .texts p {
    position: relative;
    margin-left: 0;
    padding-left: 28px;
}
.fmdl .texts p:before {
    position: absolute;
    left: 8px;
    top: 7px;
    width: 16px;
    height: 16px;
    background: url(../images/icon-checked.png) 0 0 no-repeat;
    background-size: 12px;
    content: "";
}

.fmdl .texts em {
    line-height: 1;
    font-size: 15px;
    color: #858384;
    white-space: nowrap;
}
.fmdl p.cnf em {
    margin-left: -6px;
    white-space: nowrap;
}
.smalltext {
    height: 42px;
    padding-top: 10px;
}
.smalltext .texts {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.smalltext p {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 1.4;
    white-space: nowrap;
}
.getlist {
    padding-top: 10px;
}
.getlist dt {
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #b10b0b;
}
.getlist dd {
    position: relative;
    padding-left: 24px;
    padding-bottom: 10px;
    font-size: 15px;
}
.getlist dd:before {
    position: absolute;
    left: 10px;
    top: 7px;
    content: '';
    width: 1px;
    height: 1px;
    border: 3px solid #b51112;
}
.intro {
    padding: 30px 0 0 0px;
}
.intro p {
    padding-bottom: 30px;
}
.intro ul {
    padding-left: 24px;
    padding-bottom: 20px;
}
.intro ul li {
    padding-bottom: 10px;
    font-size: 14px;
    list-style-type: square;
}

.failed {
    color: #b00a0c;
    text-align: center;
}
.modal-form {
    position: relative;
}
.modal-form .close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal-form .failed {
    height: 28px;
}
.modal-form .formmod {
    padding-top: 30px;
}
.modal-form .fmdl dt {
    padding-top: 15px;
}