<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>安全订单系统</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no,address=no,email=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="description" content="时刻偷听女人心，吸引任何女生的核心方法，多媒体实践型课程" />
    <meta name="keywords" content="时刻偷听女人心，吸引任何女生的核心方法，多媒体实践型课程" />
    <link rel="stylesheet" href="/assets/css/touting/v2/all.css"></link>
    <link rel="stylesheet" href="/assets/css/touting/v2/ip4.css" media="screen and (device-aspect-ratio: 2/3)"></link>
    <script src="/assets/js/jquery.js"></script>
  </head>
  <body><!--用于 mobile官网主页-->
  <script>
    var h = document.documentElement.clientHeight
    var w = document.documentElement.clientWidth
    var banner_img_w = Math.floor(w*0.9);
    var banner_img_h = Math.floor(banner_img_w * 356 / 474);

    var banner_img_width = '<style>.banner img{width:' + banner_img_w + 'px; height:' + banner_img_h + 'px;}</style>';
    var page_1_style = '<style>#page1{height:'+h+'px;}</style>';
    var page_2_style = '<style>#page2{height:'+Math.floor(h*0.75)+'px;}</style>';
    document.write(banner_img_width);
    //document.write(page_1_style);
    document.write(page_2_style);

    if (h <= 480) {
      var page_2_padding_top_style = '<style>#page2{padding-top: 35px;}</style>';
      document.write(page_2_padding_top_style);
    }
  </script>
  <div class="container">
    <div class="head">
      <div class="h-text one"><em>《偷听女人心》</em></div>
      <div class="h-text"><font color="#bdbdbd">&nbsp;&nbsp;7天无理由退款</font></div>
    </div>

    <div class="separator">
      <hr />
    </div>

    <div class="j_mail">
      <div class="mail">
        <div class="mail-title-wrapper">
          <div class="mail-title">
            <img src="/assets/images/touting/arrow.png" width="8" height="15" />
            <span>输入邮箱下载课程</span>
          </div>
        </div>
        <div class="mail-input one"><input class="j_input j_input1" type="text" placeholder="输入邮箱地址" /></div>
        <div class="mail-input two"><input class="j_input j_input2" type="text" placeholder="再次确认邮箱" /></div>
        <div class="mail-desc">课程App下载链接会发送到该邮箱</div>
      </div>
    </div>

    <div class="course-wrap">
      <div class="course">
        <div class="course-des-wrapper">
          <div class="course-des">
            <div class="course-text">
              <div class="course-titlte">
                <img src="/assets/images/touting/arrow.png" width="8" height="15" />
                <span>选择一个套餐</span>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>

        <div class="course-list">
          <div class="j_course" d-type="T1">
            <div class="course_text_left"> 30期&nbsp;&nbsp;共90节课</div>
            <div class="course_text_right">299元</div></span>
          </div>
          <div class="j_course j_select_course" d-type="T2">
            <div class="course_text_left"> 45期&nbsp;&nbsp;共135节课</div>
            <div class="course_text_right">398元</div></span>
          </div>
          <div class="j_test_group" d-type="{{ group_name }}" style="display:none">
          </div>
        </div>

      </div>
    </div>

    <div class="button"><img src="/assets/images/touting/button.png" ></div>

    <div class="error-tips">
    </div>
  </div>
  <script type="text/javascript" src="/assets/js/touting/zepto.min.js"></script>
  <script type="text/javascript" src="/assets/js/touting/v2/index_final.js"></script>
  <script src="/assets/js/alipay_in_weixin.js"></script>
  </body>
</html>
